server {
    server_name 35.246.107.151 elsr.co.uk www.elsr.co.uk;

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ben_freeman_eu/elsr_website/ELSR-Website/elsr_website.sock;
    }

    location = /favicon.ico {
        access_log off;
        return 204;
    }


    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.elsr.co.uk/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.elsr.co.uk/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    if ($host = www.elsr.co.uk) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name 35.246.107.151 elsr.co.uk www.elsr.co.uk;
    return 404; # managed by Certbot


}