{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/403-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Your account hasn't been validated</h1>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                        Main Content                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			<h2>Your account hasn't been validated yet.</h2>
			
			<p>
				New accounts on the website have restricted access until an Admin can validate that the user is a
				regular rider with us. Quite often, we don't recognise a user name or just simply forget to enable
				someone.
			</p>
			<p>
				Please drop the Admins a message using the "Contact An Admin" button on your user page, which
				you can access by clicking on your Gravatar icon in the menu bar at the top of the screen (or menu
				icon top right on mobiles) and then scrolling down to the "Manage my account" section of your user
				page.
			</p>
			<p>
				If you don't ride with us regularly, then apologies, but not everything will be visible to you and
				you won't be able to add or edit content on the site. You can still see the calendar and download
				GPX files, so if you want to start riding with us, you're most welcome to tag along.
			</p>
			
			<hr>
			
		</div>
	</div>
</div>



{% endblock %}
