{% extends "base.html" %}

{% block title %}
    <title>ELSR - You appear lost...</title>
{% endblock %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/404-bg.jpg')}})"
		alt="Cyclist crashing in the dirt">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Ooops!</h1>
					<span class="subheading">File not found</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!-- Break before footer -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			<hr>
		</div>
	</div>
</div>


{% endblock %}
