<!DOCTYPE html>
<html lang = "en">

<head>

	<!---------------------------------------------------------------------------------------------------->
	<!--                                      Site meta data                                            -->
	<!---------------------------------------------------------------------------------------------------->

    {# NB Title is injected by each page #}
    {% block title %} {% endblock %}

	<meta charset="utf-8">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ request.url_root | trim('/') }}{{ request.path }}">

    <!-- Primary meta tags -->
    <meta name="description" content="ELSR Cambridge Cycling Club & Social Rides">
	<meta name="author" content="Ben Freeman">
	<meta name="keywords" content="cycling, social rides, cafe rides, cambridge, road riding, cycling club,
	                               cycle routes, cambridge cycle club, group rides, gpx files, cycling cafes">

    <!-- Language and viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                               Configure Bootstrap for Mobile                                   -->
	<!---------------------------------------------------------------------------------------------------->
	
	<!-- To ensure proper rendering and touch zooming -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                      Favicon Icons                                             -->
	<!---------------------------------------------------------------------------------------------------->
	
	<link rel="favicon.ico" href="{{ url_for('static', filename='../static/img/favicon_d.ico') }}"
	      media='(prefers-color-scheme: dark)'>
	<link rel="favicon.ico" href="{{ url_for('static', filename='../static/img/favicon_l.ico') }}"
	      media='(prefers-color-scheme: light)'>
	
	<link rel="icon" href="{{ url_for('static', filename='../static/img/favicon_d.ico') }}"
	      media='(prefers-color-scheme: dark)'>
	<link rel="icon" href="{{ url_for('static', filename='../static/img/favicon_l.ico') }}"
	      media='(prefers-color-scheme: light)'>
	
	<!-- Apple touch icon -->
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon-120x120-precomposed.png') }}" />
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                              CSS                                               -->
	<!---------------------------------------------------------------------------------------------------->

	<!-- Bootstrap v4.5.3 CSS -->
	<link href="{{ url_for('static', filename='vendor/bootstrap-4.5.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">
	
	<!-- Clean Blog v5.0.9 Custom styles (load last) -->
	<link href="{{ url_for('static', filename='css/clean-blog.css') }}" rel="stylesheet">
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                        Fonts and Icons                                         -->
	<!---------------------------------------------------------------------------------------------------->
	
	<!-- Fontawesome Fonts (bike logo) -->
	<script src="https://kit.fontawesome.com/8d975d0298.js"
	        crossorigin="anonymous"></script>
	
	<!-- Custom fonts from Google -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<!-- Open Sans -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	      rel='stylesheet' type='text/css'>
	
	<!-- Roboto -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                       Google Analytics                                         -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-N0RJH2LSDC"></script>
	<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-N0RJH2LSDC');
	</script>

    <!---------------------------------------------------------------------------------------------------->
	<!--                                       Schema                                                   -->
	<!---------------------------------------------------------------------------------------------------->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SportsClub",
      "name": "ELSR – Cambridge Cycling Club & Café Ride Collective",
      "url": "https://www.elsr.co.uk",
      "sport": "Cycling",
      "foundingDate": "2019",
      "memberCount": 120,
      "image": "https://www.elsr.co.uk/static/img/home-photos/riders_in_elsr_kit.jpg",
      "logo": "https://www.elsr.co.uk/static/img/logo.png",
      "sameAs": [
        "https://www.instagram.com/elsr_cambridge_uk/",
        "https://www.facebook.com/groups/326130959238218"
      ],
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Cambridge",
        "addressRegion": "Cambridgeshire",
        "addressCountry": "UK"
      },
      "areaServed": {
        "@type": "City",
        "name": "Cambridge"
      },
      "description": "Friendly Cambridge cycling club and café ride collective open to all riders."
    }
    </script>


	<!---------------------------------------------------------------------------------------------------->
	<!--                                        Java scripts                                            -->
	<!---------------------------------------------------------------------------------------------------->
	<!-- Integrity hashes generated by https://www.srihash.org/ -->
	
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	        integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
	        crossorigin="anonymous"></script>
	
	<!-- Bootstrap v4.5.0 (according to header) -->
	<script src="{{ url_for('static', filename='vendor/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js') }}"></script>
	
	<!-- Custom scripts-->
	<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>


    <!---------------------------------------------------------------------------------------------------->
	<!--                             Disable CKE Editor version warning                                 -->
	<!---------------------------------------------------------------------------------------------------->

    <style>
        .cke_notifications_area { display: none; }
    </style>

	
	<!---------------------------------------------------------------------------------------------------->
	<!--                             Page specific header insertion                                     -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% block head %}
	{% endblock %}
	
	
</head>


<body>
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                       Navigation bar                                           -->
	<!---------------------------------------------------------------------------------------------------->
	
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		
		<div class="container">
			
			
			<!---------------------------------------------------------------------------------------------------->
			<!--                                   Website Title Details                                        -->
			<!---------------------------------------------------------------------------------------------------->
			
			<a class="navbar-brand float-left" href="{{ url_for('home') }}">
				<i class="fa-solid fa-person-biking fa-xl"></i>
				&nbsp; EL Social Rides
			</a>
			
			
			<!---------------------------------------------------------------------------------------------------->
			<!--                                           Menu                                                 -->
			<!---------------------------------------------------------------------------------------------------->
			
			<!-- This is the Menu button which appears when the list collapses -->
			<button class="navbar-toggler navbar-toggler-right float-right" type="button" data-toggle="collapse"
			        data-target="#navbarResponsive">
                Menu
                <i class="fas fa-bars"></i>
            </button>
      
			<!-- Horizontal menu bar which vanishes on narrow screens -->
			<div class="collapse navbar-collapse" id="navbarResponsive">
				
				<ul class="navbar-nav ml-auto">
					
					
					<!-- ELSR dropdown -->
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
				           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				            ELSR
				        </a>
				        <div class="dropdown-menu" aria-labelledby="elsrDropdown">
							<a class="dropdown-item" href="{{ url_for('home') }}">Home</a>
							<a class="dropdown-item" href="{{ url_for('display_blog') }}">Blog</a>
					        <a class="dropdown-item" href="{{ url_for('club_kit') }}">Team Kit</a>
					        <a class="dropdown-item" href="{{ url_for('poll_list') }}">Polling</a>
					        <a class="dropdown-item" href="{{ url_for('who_are_we') }}">Member List</a>
                            <a class="dropdown-item" href="{{ url_for('contact') }}">Contact Us</a>
                            {% if current_user.is_authenticated and current_user.can_see_emergency_contacts %}
                                <a class="dropdown-item" href="{{ url_for('emergency') }}">Emergency Contacts</a>
                            {% endif %}
					    </div>
					</li>
					
					<!-- Calendar dropdown -->
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="calendarDropdown" role="button"
				           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				            Calendar
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('calendar') }}">Calendar</a>
							<a class="dropdown-item" href="{{ url_for('weekend') }}">Weekend</a>
					        <a class="dropdown-item" href="{{ url_for('display_socials') }}">Socials</a>
					        <a class="dropdown-item" href="{{ url_for('chaingang') }}">Chaingang</a>
					        <a class="dropdown-item" href="{{ url_for('twr') }}">TWR</a>
					        <a class="dropdown-item" href="{{ url_for('turbo_training') }}">Turbo Training</a>
					        <a class="dropdown-item" href="{{ url_for('mallorca_2024') }}">Mallorca 2024</a>
					        
					    </div>
					</li>
					
					<!-- Databases -->
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button"
				           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				            Resources
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ url_for('cafe_list') }}">Cafes</a>
							<a class="dropdown-item" href="{{ url_for('gpx_list') }}">GPX Files</a>
					        <a class="dropdown-item" href="{{ url_for('gravel') }}">Gravel</a>
					        <a class="dropdown-item" href="{{ url_for('classifieds') }}">Classifieds</a>
					        <a class="dropdown-item" href="{{ url_for('plan') }}">Planning a ride</a>
					    </div>
					</li>
					
					<!-- Register / Login links -->
					{% if not current_user.is_authenticated %}
					
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('login') }}">Login</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('register') }}">Register</a>
						</li>
						
					{% endif %}
					
					
					<!------------------------------------------------------------------------------------------------>
					<!--                                       User Details                                         -->
					<!------------------------------------------------------------------------------------------------>
					
					{% if current_user.is_authenticated %}
					
						<!-- User is logged in -->
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('user_page', user_id=current_user.id) }}">
								
								<!-- User Gravatar -->
								<img src="{{ current_user.email | gravatar }}"
							         width="50" height="50"
									 style="border-radius: 50%;"
									 alt="Gravatar icon"/>
								
								<!-- Personal Mail icon -->
								{% if user_has_mail(current_user.email) %}
									<i class="fa-solid fa-envelope fa-bounce fa-xl"
									   style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;"></i>
								{% endif %}
			
							</a>
						</li>
					
					
						<!-------------------------------------------------------------------------------------------->
						<!--                                   Admin features                                       -->
						<!-------------------------------------------------------------------------------------------->
					
						<!-- Admin icon which links to Admin console -->
						{% if current_user.admin %}
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('admin_page') }}">Admin</a>
							</li>
						{% endif %}
						
						<!-- Admins Mail icon which links to Admin console -->
						{% if current_user.admin and admin_has_mail() %}
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('admin_page') }}">
									<i class="fa-solid fa-envelope fa-bounce fa-xl"
									   style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;"></i>
								</a>
							</li>
						{% endif %}
						
					
					{% endif %}
					
				</ul>
			</div>
		</div>
	</nav>
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                        Page contents                                           -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% block content %}
	{% endblock %}
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                          Footer                                                -->
	<!---------------------------------------------------------------------------------------------------->
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						
						<!-- Instagram icon -->
						<li class="list-inline-item">
							<a href="https://www.instagram.com/elsr_cambridge_uk/">
								<div class="hidden">ELSR on Instagram</div>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
							</a>
						</li>
						
						<!-- Facebook icon -->
						<li class="list-inline-item">
							<a href="https://www.facebook.com/groups/326130959238218">
								<div class="hidden">ELSR on Facebook</div>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
							</a>
						</li>
						
						<!-- Github icon -->
						<li class="list-inline-item">
							<a href="https://github.com/footflaps/ELSR-Website">
								<div class="hidden">ELSR on Github</div>
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
	                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
							</a>
						</li>
						
					</ul>
					
					<!-- Copyright -->
					<p class="copyright text-muted">Copyright &copy; Ben Freeman {{year}}</p>
					
				</div>
			</div>
		</div>
	</footer>
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                   Page can insert scripts here                                 -->
	<!---------------------------------------------------------------------------------------------------->

	{% block scripts %}
	{% endblock %}

</body>

</html>