{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/news-bg.jpg')}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>ELSR Blog</h1>
					<span class="subheading">Random goings on...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

{% if not blogs %}

	<!----------------------------------------------------------->
	<!--                   No Blog Posts!                      -->
	<!----------------------------------------------------------->

	<!-- Billy no mates -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p>
					How sad, it looks like we don't have any blog posts yet....
				</p>
				
			</div>
		</div>
	
		<!-- Add a blog post -->
		{% if current_user.is_authenticated %}
			{% if current_user.readwrite() %}
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<a href="{{ url_for('add_blog') }}" class="btn btn-primary float-right" role="button">
			                  Add Post
			            </a>
					</div>
				</div>
			{% endif %}
		{% endif %}

		<!-- Separator before footer -->
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<hr>
			</div>
		</div>
		
	</div>

{% else %}

	<!---------------------------------------------------------------------------------------------------->
	<!--                                          Blog Posts                                            -->
	<!---------------------------------------------------------------------------------------------------->

	<!-- Show stickies first, then everything else -->
	{% for sticky_state in [True, False] %}
		{% for blog in blogs %}
			{% if blog.sticky == sticky_state %}

				<!-- Check user has permission to see this -->
				{% if blog.private and not current_user.is_authenticated %}
					<!-- Non logged in user can't see private posts -->
				{% elif blog.private and not current_user.readwrite() %}
					<!-- Untrusted user can't see private posts -->
				{% else %}
		
					<div class="container">
						
						<div class="row">
							<div class="col-lg-8 col-md-10 mx-auto">
								<h2 class="float-left">
									{{ blog.title }}
									{% if blog.sticky %}
									    &nbsp; <i class="fa-solid fa-thumbtack  fas-xl"></i>
									{% endif %}
									{% if blog.private %}
										 &nbsp; <i class="fa-solid fa-lock fas-xl"></i>
									{% endif %}
								</h2>
								<h2 class="float-right">{{ blog.category }}</h2>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-8 col-md-10 mx-auto">
								<img class="float-left" src="{{ blog.email | gravatar }}"
									 width="40" style="border-radius: 50%;"/>
								<h4 class="float-left mt-2"> &nbsp; {{ get_user_name(blog.email) }}</h4>
								<h4 class="float-right mt-2">{{ blog.date }}</h4>
							</div>
						</div>
						
						<!-- Add image -->
						{% if blog.filenames %}
							<div class="row mt-3">
								<div class="col-lg-8 col-md-10 mx-auto">
									<img src="{{ url_for('static', filename=blog.filenames[0]) }}"
									     style="width: 100%; border: 4px solid #000;">
									
								</div>
							</div>
						{% endif %}
						
						<!-- Guts of the post -->
						<div class="row">
							<div class="col-lg-8 col-md-10 mx-auto">
								{{ blog.details | safe }}
							</div>
						</div>
		
						<!-- Buttons -->
						{% if current_user.is_authenticated %}
							{% if current_user.email == blog.email or current_user.admin() %}
								<div class="row">
									<div class="col-lg-8 col-md-10 mx-auto">
									
										<!-- Cafe button -->
										{% if blog.cafe_id != no_cafe %}
											<a href="{{ url_for('cafe_details', cafe_id=blog.cafe_id) }}">
						                        <button class="btn btn-sm btn-primary float-left mr-2">Cafe</button>
								            </a>
										{% endif %}
										
										<!-- GPX button -->
										{% if blog.gpx_index != no_gpx %}
											<a href="{{ url_for('gpx_details', gpx_id=blog.gpx_index) }}">
						                        <button class="btn btn-sm btn-primary float-left mr-2">GPX</button>
								            </a>
										{% endif %}
										
										<!-- Delete blog -->
										<a data-toggle="modal" data-target="#deleteBlog{{ blog.id }}">
					                        <button class="btn btn-sm btn-danger float-right">DEL</button>
							            </a>
										
										<!-- Edit blog -->
										 <a href="{{ url_for('add_blog', blog_id=blog.id) }}">
					                        <button class="btn btn-sm btn-primary float-right mr-2">Edit</button>
							            </a>
									
									</div>
								</div>
							{% endif %}
						{% endif %}
						
						<!-- Break -->
						<div class="row">
							<div class="col-lg-8 col-md-10 mx-auto">
								<hr>
							</div>
						</div>
						
					</div>
	
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}


	<!---------------------------------------------------------------------------------------------------->
	<!--                                      Add a blog post                                           -->
	<!---------------------------------------------------------------------------------------------------->
	
	<!-- Add a blog post -->
	{% if current_user.is_authenticated %}
		{% if current_user.readwrite() %}
			<div class="container">
				
				<!-- Add Post button -->
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<a href="{{ url_for('add_blog') }}" class="btn btn-primary float-right" role="button">
			                  Add Blog
			            </a>
					</div>
				</div>
				
				<!-- Break before footer -->
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<hr>
					</div>
				</div>
				
			</div>
		{% endif %}
	{% endif %}


	<!---------------------------------------------------------------------------------------------------->
	<!--                                      Modal forms for delete                                    -->
	<!---------------------------------------------------------------------------------------------------->

	{% for blog in blogs %}

		<!---------------------------------------------------------------------------------------------------->
		<!--                          Modal form for confirming blog delete                                 -->
		<!---------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="deleteBlog{{ blog.id }}" tabindex="-1" role="dialog"
		     aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Blog from database</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!--
							NB To get the two parameters use:
								1. gpx_id = request.args.get('gpx_id', None)
		                        2. confirm = request.form['confirm']
						-->
						<form action="{{ url_for('delete_blog', blog_id=blog.id) }}" method="post">
							
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							
							<div class="form-group">
								<label class="col-form-label">
									Please enter <strong>your password</strong> in the box below:</label>
								<input type="password" class="form-control" name="password">
							</div>
							
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger">Submit</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>  <!-- End of modal form -->

	{% endfor %}



{% endif %}



{% endblock %}