{% extends "base.html" %}


{% block content %}


<!-- Add import for bootstrap wtf quickform support -->
{% import "bootstrap/wtf.html" as wtf %}



<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/page-headers/blog-bg.jpg')}}')"
        alt="Cyclist on dusty trail">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Add a Blog post</h1>
					<span class="subheading">Get your 15 minutes of fame!</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}



<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<p>
				Private posts are only visible to regular riders (similar group to the WA group). Public posts are
				visible to anyone on the Internet.
			</p>
			
			<!-- Load ckeditor -->
			{{ ckeditor.load() }}
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "cancel": "secondary"}) }}
			
			<!--  Configure the ckeditor to tell it which field in WTForm will need to be a CKEditor. -->
			{{ ckeditor.config(name='details') }}
			
			<hr>
			
			<p>
				NB: If you want to add a hyperlink to a website in the blog post, use the <strong>link button</strong>
				'<img src="{{ url_for('static', filename='img/blog-new-photos/ckeditor-link-icon.jpg') }}">' to create an active
				hyperlink in the description (as in one the reader can click on).
			</p>
			
			<hr>
			
		</div>
	</div>
</div>



{% endblock %}