{% extends "base.html" %}

<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}


<!---------------------------------------------------------------------------------------------------->
<!--                                         Google Map JS                                          -->
<!---------------------------------------------------------------------------------------------------->

<!-- Pulling external JS file -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

{% if cafe.image_name: %}

	<!-- Cafe specific photo -->
	<header class="masthead"
	        style="background-image: url( {{cafe.image_name}} )">

{% else %}

	<!-- Generic photo -->
	<header  class="masthead"
	         style="background-image: url({{ url_for('static', filename='img/cafe-bg.jpg') }})">

{% endif %}

	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					
					{% if cafe: %}
						<h1>Edit Cafe Details</h1>
					{% else: %}
						<h1>Add a new cafe</h1>
					{% endif %}
					
					<span class="subheading">Found a great cafe stop, let everyone else know...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Locate cafe using GM                                       -->
<!---------------------------------------------------------------------------------------------------->

<!-- Page specific JS -->
<script>

	
	$(document).ready( function () {
		
		if ( document.getElementById("lat").value == "" ) {
            document.getElementById("lat").value = "Click on map above to populate";
            document.getElementById("lon").value = "Click on map above to populate"; }
        
	})
	
	function initMap() {
        const myLatlng = { lat: 52.202232, lng: 0.128228 };
        const map = new google.maps.Map(
            document.getElementById("map"), {
                zoom: 10,
                center: myLatlng,
            }
        );
  
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
            content: "Locate the cafe on the map and click to transfer the coordinates to the form below.",
            position: myLatlng,
        });

        infoWindow.open(map);
  
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
            
            // Close the current InfoWindow.
            infoWindow.close();
            
            // Populate the form
            document.getElementById("lat").value = mapsMouseEvent.latLng.lat();
            document.getElementById("lon").value = mapsMouseEvent.latLng.lng();
            
            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({
                position: mapsMouseEvent.latLng,
            });
        
            infoWindow.setContent(
                "Form has been updated",
            );
            
            infoWindow.open(map);
  
        });
        
	}

	window.initMap = initMap;

</script>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
	
			<h2>Locate the cafe on the map</h2>
			
		    <div id="map" style="height: 500px"></div>

	        <!--
		      The `defer` attribute causes the callback to execute after the full HTML
		      document has been parsed. For non-blocking uses, avoiding race conditions,
		      and consistent behavior across browsers, consider loading using Promises.
		      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
		      for more information.
	        -->
	        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpvpfytPlvdOpd6cGzRk_27Pqo6pelqHE&callback=initMap&v=weekly"
	                defer>
		       
	        </script>

			
			<!-- Break before next section -->
			<hr>
	
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                       Cafe Edit form                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-3">Edit the cafe details</h2>
			<h3 class="mb-3">NB The cafe must be within 100 km of Cambridge.</h3>
			
			<!-- Load ckeditor -->
			{{ ckeditor.load() }}
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
			
			<!--  Configure the ckeditor to tell it which field in WTForm will need to be a CKEditor. -->
			{{ ckeditor.config(name='detail') }}
			
		</div>
	</div>
</div>


{% endblock %}


{% block scripts %}

{% endblock %}