{% extends "base.html" %}

<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}


<!---------------------------------------------------------------------------------------------------->
<!--                                         Google Map JS                                          -->
<!---------------------------------------------------------------------------------------------------->

<!--&lt;!&ndash; Pulling external JS file &ndash;&gt;-->
<!--<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>-->

<!--&lt;!&ndash; Page specific JS &ndash;&gt;-->
<!--<script>-->
<!--function initMap() {-->
<!--  const myLatlng = { lat: -25.363, lng: 131.044 };-->
<!--  const map = new google.maps.Map(document.getElementById("map"), {-->
<!--    zoom: 4,-->
<!--    center: myLatlng,-->
<!--  });-->
<!--  // Create the initial InfoWindow.-->
<!--  let infoWindow = new google.maps.InfoWindow({-->
<!--    content: "Click the map to get Lat/Lng!",-->
<!--    position: myLatlng,-->
<!--  });-->

<!--  infoWindow.open(map);-->
<!--  // Configure the click listener.-->
<!--  map.addListener("click", (mapsMouseEvent) => {-->
<!--    // Close the current InfoWindow.-->
<!--    infoWindow.close();-->
<!--    // Create a new InfoWindow.-->
<!--    infoWindow = new google.maps.InfoWindow({-->
<!--      position: mapsMouseEvent.latLng,-->
<!--    });-->
<!--    infoWindow.setContent(-->
<!--      JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2),-->
<!--    );-->
<!--    infoWindow.open(map);-->
<!--  });-->
<!--}-->

<!--window.initMap = initMap;-->


<!--</script>-->



{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

{% if cafe.image_name: %}

	<!-- Cafe specific photo -->
	<header class="masthead"
	        style="background-image: url( {{cafe.image_name}} )">

{% else %}

	<!-- Generic photo -->
	<header  class="masthead"
	         style="background-image: url({{ url_for('static', filename='img/cafe-bg.jpg') }})">

{% endif %}

	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					
					{% if cafe: %}
						<h1>Edit Cafe Details</h1>
					{% else: %}
						<h1>Add a new cafe</h1>
					{% endif %}
					
					<span class="subheading">Found a great cafe stop, let everyone else know...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Locate cafe using GM                                       -->
<!---------------------------------------------------------------------------------------------------->

<!--<div class="container">-->
<!--	<div class="row">-->
<!--		<div class="col-lg-8 col-md-10 mx-auto">-->
<!--	-->
<!--			<h2 class="mb-5">Locate the cafe on the map</h2>-->
<!--			-->
<!--		    <div id="map" style="height: 100%"></div>-->

<!--	        &lt;!&ndash;-->
<!--		      The `defer` attribute causes the callback to execute after the full HTML-->
<!--		      document has been parsed. For non-blocking uses, avoiding race conditions,-->
<!--		      and consistent behavior across browsers, consider loading using Promises.-->
<!--		      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api-->
<!--		      for more information.-->
<!--	        &ndash;&gt;-->
<!--	        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpvpfytPlvdOpd6cGzRk_27Pqo6pelqHE&callback=initMap&v=weekly"-->
<!--	                defer>-->
<!--		       -->
<!--	        </script>-->

<!--			-->
<!--			&lt;!&ndash; Break before next section &ndash;&gt;-->
<!--			<hr>-->
<!--	-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<!---------------------------------------------------------------------------------------------------->
<!--                                       Cafe Edit form                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-5">Edit the cafe details</h2>
			<h3 class="mb-2">NB The cafe must be within 100 km of Cambridge.</h3>
			<h4 class="mb-5">
				<a href="https://earth.google.com/web/@52.20327792,0.13156968,29.63102727a,133.80598466d,35y,0h,0t,0r"
				   target="_blank">
					<i class="fa fa-external-link fa-2xs"></i> Use Google Earth To Find Lat and Lon
				</a>
			</h4>
			
			<!-- Load ckeditor -->
			{{ ckeditor.load() }}
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
			
			<!--  Configure the ckeditor to tell it which field in WTForm will need to be a CKEditor. -->
			{{ ckeditor.config(name='detail') }}
			
		</div>
	</div>
</div>


{% endblock %}


{% block scripts %}

{% endblock %}