{% extends "base.html" %}

{% block content %}


<head>
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                Load JavaScript for calendar                                    -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script src="{{ url_for('static', filename='js/calendar.js')}}"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css')}}">
	
</head>


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/page-headers/calendar-bg.jpg')}}')"
		alt="Mountain Bikers">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Calendar</h1>
					<span class="subheading">I have seen the future...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                           Calendar                                             -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<!-- Our calendar -->
			<div id="my-calendar"></div>
			
			<p>To download a GPX file direct to Garmin Connect on your mobile, see:
				<a href="{{ url_for('gpx_guide') }}"><strong>GPX Download Guide</strong></a>.
			</p>
			
			<p>NB Weekend rides are normally scheduled the Thursday / Friday of that week, when we have
			   good visibility of wind direction etc.</p>
			
			<p>If you want to see our groups rides over the past couple of months, you can find them here:</p>
			<ul>
				<li><a href="{{ url_for('ride_history', request='Doppio') }}"><strong>Doppio</strong> Ride History</a></li>
				<li><a href="{{ url_for('ride_history', request='Espresso') }}"><strong>Espresso</strong> Ride History</a></li>
				<li><a href="{{ url_for('ride_history', request='Decaff') }}"><strong>Decaff</strong> Ride History</a></li>
				<li><a href="{{ url_for('ride_history', request='Mixed') }}"><strong>Mixed</strong> Ride History (Sunday Rides)</a></li>
				<li><a href="{{ url_for('ride_history', request='TWR') }}"><strong>TWR</strong> Ride History (Wednesday Rides)</a></li>
			</ul>
			
			<p>
				We also have ELSR Top 10 GPX and Cafe lists. GPXes are ranked by number of downloads and cafes
				by the number of scheduled rides visting them:
			</p>
			
			<ul>
				<li><a href="{{ url_for('gpx_top10') }}"><strong>Top 10 GPXes</strong></a></li>
				<li><a href="{{ url_for('cafe_top10') }}"><strong>Top 10 Cafes</strong></a></li>
			</ul>
			
			<hr>
			
		</div>
	</div>
</div>


<!-- Logged in users can add rides -->
{% if current_user.is_authenticated: %}
	{% if current_user.readwrite %}

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					
					<!-- Add social button -->
					<a href="{{ url_for('route_add_social', date=None) }}">
						<button type="button" class="btn btn-primary float-left">Add social</button>
					</a>
				
					<!-- Add ride button -->
					<a href="{{ url_for('add_ride', date=None) }}">
						<button type="button" class="btn btn-primary float-right">Add ride</button>
					</a>
					
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					
					<!-- Break before footer -->
					<hr>
					
				</div>
			</div>
		</div>

	{% endif %}
{% endif %}


<script>

	 $(document).ready(function () {
	    $("#my-calendar").zabuto_calendar({
	      classname: 'table table-bordered lightgrey-weekends',
	      navigation_markup: {
	        prev: '<i class="fas fa-chevron-circle-left fa-xl"></i>',
	        next: '<i class="fas fa-chevron-circle-right fa-xl"></i>'
	      },
	      events: {{ events | tojson }},
	      today_markup: '<span class="badge bg-primary">[day]</span>',
	      year: {{ start_year }},
	      month: {{ start_month }},
	    });
	  });

</script>

{% endblock %}