{% extends "base.html" %}

<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<!-- Generic photo -->
<header  class="masthead"
         style="background-image: url({{ url_for('static', filename='img/add-ride-bg.jpg') }})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					
					{% if ride: %}
						<h1>Edit Ride Details</h1>
					{% else: %}
						<h1>Add a group ride!</h1>
					{% endif %}
					
					<span class="subheading">Fancy your chances herding cats?</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Cafe Edit form                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-3">Edit the ride details:</h2>
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "cancel": "secondary"}) }}
			
			<!-- Auto complete start time and location based on day -->
			<script>
			
				// The four form elements we need
				let date = document.getElementById('date');
				let start_time = document.getElementById('start_time');
				let meeting_point = document.getElementById('start_location');
				let new_start = document.getElementById('other_location');

				// Get day of week from date
				function getDayName(dateStr)
					{
					    var date = new Date(dateStr);
					    return date.toLocaleDateString('en-GB', { weekday: 'long' });
					}
				
				// Trap user changing the date
				date.onchange = function() {
					
					// date.value has form '2023-11-04', so convert to day of week eg 'Saturday' etc
					let day_of_week = getDayName(date.value);
					
					// Look up the default start time
					let default_start_time = {{ DEFAULT_START_TIMES | tojson }}[day_of_week]
					
					// Populate the form
					start_time.value = default_start_time['time'];
					meeting_point.value = default_start_time['location'];
					new_start.value = default_start_time['new'];
					
				};
				
				// Capture submit button and validate start details
				function validateStart(e) {
					
					// Only both if date has been set
					if (date.value != "") {
					
						// date.value has form '2023-11-04', so convert to day of week eg 'Saturday' etc
						let day_of_week = getDayName(date.value);
						
						// Look up the default start time
						let default_start_time = {{ DEFAULT_START_TIMES | tojson }}[day_of_week];
						
						// Have they deviated?
						if ( start_time.value == default_start_time['time'] &&
						     meeting_point.value == default_start_time['location'] &&
						     new_start.value == default_start_time['new'] )
						{
					   
					        // All ok - so just go ahead and submit
					        return true;
						       
					   } else {
					   
					        // Non standard start time
					        if (prompt(`Start time / place looks wrong for ${day_of_week}? \r` +
					                   `Was expecting ${default_start_time['time']} and ` +
					                   `${default_start_time['location']}. \r` +
					                   `You chose ${start_time.value} and ${meeting_point.value}. \r` +
					                   `Type 'yes' to confirm your choice.`) == 'yes')
					        {
					        
					            // Go ahead with submit
					            return true;
					        
					        } else {
					        
					            // Cancel submit
					            if (e.preventDefault) e.preventDefault();
				                return false;
					        
					        };
						};
					};
				};

				// Add function to the submit button
				var form = document.querySelector("form");
				if (form.attachEvent) {
					form.attachEvent("submit", validateStart);
				} else {
				    form.addEventListener("submit", validateStart);
				};
				
			</script>
			
		</div>
	</div>
</div>


{% endblock %}

