{% extends "base.html" %}

<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<!-- Generic photo -->
<header  class="masthead"
         style="background-image: url({{ url_for('static', filename='img/add-ride-bg.jpg') }})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					
					{% if ride: %}
						<h1>Edit Ride Details</h1>
					{% else: %}
						<h1>Add a group ride!</h1>
					{% endif %}
					
					<span class="subheading">Fancy your chances herding cats?</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Cafe Edit form                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-3">Edit the ride details:</h2>
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "cancel": "secondary"}) }}
			
			<!-- Auto complete start time and location based on day -->
			<script>
			
				// The four form elements we need
				let date = document.getElementById('date');
				let start_time = document.getElementById('start_time');
				let meeting_point = document.getElementById('start_location');
				let new_start = document.getElementById('other_location');

				// Get day of week from date
				function getDayName(dateStr)
					{
					    var date = new Date(dateStr);
					    return date.toLocaleDateString('en-GB', { weekday: 'long' });
					}
				
				// Trap user changing the date and auto complete the rest of the form
				date.onchange = function() {
					
					// date.value has form '2023-11-04', so convert to day of week eg 'Saturday' etc
					let day_of_week = getDayName(date.value);
					
					// Look up the default start time
					let default_start_time = {{ DEFAULT_START_TIMES | tojson }}[day_of_week]
					
					// Populate the form
					start_time.value = default_start_time['time'];
					meeting_point.value = default_start_time['location'];
					new_start.value = default_start_time['new'];
					
				};
				
				
				/* Add Dialog to submit button */
				document.getElementById("submit").addEventListener("click", function()
					{
						$('#validate_start').dialog('open');
					}
				);

				/* Function to validate the start time */
				$(function() {
		            $( "#validate_start" ).dialog({
		                open: function() {
		                
		                    if (date.value != "") {
		                    
		                        // date.value has form '2023-11-04', so convert to day of week eg 'Saturday' etc
								let day_of_week = getDayName(date.value);
								
								// Look up the default start time
								let default_start_time = {{ DEFAULT_START_TIMES | tojson }}[day_of_week];
								
								// Have they deviated?
								if ( start_time.value == default_start_time['time'] &&
								     meeting_point.value == default_start_time['location'] &&
								     new_start.value == default_start_time['new'] )
								{
							   
							        // All ok - so just go ahead and submit
							        // Close ourself
								    $('#validate_start').dialog('close')
								    
							    } else {
							   
							        // Non standard start time
							        document.getElementById("issue").innerHTML =
							            `Start time and / or place looks wrong for <strong>${day_of_week}</strong>? <br>` +
							            `Was expecting <strong>${default_start_time['time']}</strong> and ` +
							            `<strong>${default_start_time['location']}</strong>. <br>` +
							            `You chose <strong>${start_time.value}</strong> and ` +
							            `<strong>${meeting_point.value}</strong>. <br><br>` +
							            `Type '<strong>yes</strong>' to confirm your choice.`;
							        document.getElementById("confirm").value = "";
							        
						            // Cancel submit
						            // Stop the submit button submitting the form immediately
		                            event.preventDefault();
		                            // Disable the submit button completely, so they have to use this form
		                            document.getElementById("submit").disabled=true;
							       
								};
		                    
		                    } else {
		                    
		                        // Date unset, just fall through to Flask form validation
			                    $('#validate_start').dialog('close')
								
							};
		                
                        },
						autoOpen: false,
						modal: true,
						width: 520,
						buttons: [
							{
								text: "Cancel",
								"class": 'btn-sm btn-primary',
								click: function() {
									// Re-enable submit button before we exit
									document.getElementById("submit").disabled=false;
								    // Close ourself
								    $('#validate_start').dialog('close')
								}
							},
							{
								text: "Confirm",
								"class": 'btn-sm btn-danger float-right',
								click: function() {
								
									// Get value of text box
									if (document.getElementById("confirm").value.toLowerCase() == 'yes') {
										// Go ahead
										// Re-enable submit button before we exit
										document.getElementById("submit").disabled=false;
									    
									    // Click the submit button
									    document.getElementById("submit").click();
									} else {
										document.getElementById("confirm").value = 'Invalid answer!'
									}
								}
							}
						],
		               position: {
		                  my: "center center",
		                  at: "center center"
		               },
		            });
	
		        });
				
			</script>
			
			
		</div>
	</div>
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                              Modal form to validate start time                                 -->
	<!---------------------------------------------------------------------------------------------------->
	
	<div id="validate_start"
	     title = "Non standard start time">
	  <p id="issue" style="padding: 10px 10px;">
         This will get replaced by JS....
      </p>
		
      
      <input type="text" id="confirm" style="margin: 10px">
	
	</div>  <!-- End of modal form -->
	
</div>


{% endblock %}

