{% extends "base.html" %}


<!---------------------------------------------------------------------------------------------------->
<!--                                   Page specific JS / CSS                                       -->
<!---------------------------------------------------------------------------------------------------->

{% block head %}
	
	<!-- JQuery UI -->
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
	        integrity="sha384-EZJUCwX9EfOmrML5/1WejmhFx/azi54nnVfOndPu+VTQKOHabXXC9eS7VFdkLz0V"
	        crossorigin="anonymous"></script>

{% endblock %}




<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}




{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<!-- Generic photo -->
<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/add-ride-bg.jpg') }})"
		alt="Cyclists on Road">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					
					{% if ride: %}
						<h1>Edit Ride Details</h1>
					{% else: %}
						<h1>Add a group ride!</h1>
					{% endif %}
					
					<span class="subheading">Fancy your chances herding cats?</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Add ride form                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-3">Edit the ride details:</h2>
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "cancel": "secondary"}) }}
		
			<h3 class="mt-2" style="color: red" id="error">This will be changes by JS</h3>
			
		</div>
	</div>
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                              Modal form to validate start time                                 -->
	<!---------------------------------------------------------------------------------------------------->
	
	<div id="validate_start"
	     title = "Non standard start time">
	  <p id="issue" style="padding: 10px 10px;">
         This will get replaced by JS....
      </p>
		
      
      <input type="text" id="confirm" style="margin: 10px">
	
	</div>  <!-- End of modal form -->
	
</div>

<!---------------------------------------------------------------------------------------------------->
<!--                                  JS for form validation                                        -->
<!---------------------------------------------------------------------------------------------------->

<script type="text/javascript">
	<!-- Using include runs jinja over the JS first, so we can pre-load vars etc -->
	{% include "calendar_add_ride.js" %}
</script>

{% endblock %}

