{% extends "base.html" %}


{% block content %}


<head>
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                Load JavaScript for chart.js                                    -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                Load JavaScript for GoogleMaps                                  -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script>
	
		(g=>{var h,a,k,p="The Google Maps JavaScript API",
         c="google",l="importLibrary",q="__ib__",m=document,
         b=window;b=b[c]||(b[c]={});
         var d=b.maps||(b.maps={}),r=new Set,
             e=new URLSearchParams,
             u=()=>h||(h=new Promise(async(f,n)=>{
                await (a=m.createElement("script"));
                e.set("libraries",[...r]+"");
                for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);
                e.set("callback",c+".maps."+q);
                a.src=`https://maps.${c}apis.com/maps/api/js?`+e;
                d[q]=f;
                a.onerror=()=>h=n(Error(p+" could not load."));
                a.nonce=m.querySelector("script[nonce]")?.nonce||"";
                m.head.append(a)
             }));
             d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
   
                key: "{{ GOOGLE_MAPS_API_KEY }}",
                v: "weekly",
                // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
               // Add other bootstrap parameters as needed, using camel case.
            }
	    );
	
	</script>
	
	
</head>


<!---------------------------------------------------------------------------------------------------->
<!--                                     Page Header                                                -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/weekend-bg.jpg')}})"
		alt="Cycle Road Race">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Ride Schedule</h1>
					<span class="subheading">Something for the weekend Sir?</span>
					
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                             Weather                                            -->
<!---------------------------------------------------------------------------------------------------->

<!-- https://windy.app/forecast2/spot/9541/Cambridge+United+Kingdom -->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-3">Weather Forecast</h2>
			
			<div
			    data-windywidget="forecast"
			    data-thememode="white"
			    data-spotid="9541"
			    data-appid="9f08492d2deb2de2ea208f9adf6bccb7">
			</div>
		    <script async="true" data-cfasync="false" type="text/javascript"
		            src="https://windy.app/widgets-code/forecast/windy_forecast_async.js?v1.4.14">
		    </script>
			
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                          Loop by day                                           -->
<!---------------------------------------------------------------------------------------------------->

{% for day in days %}


	<!---------------------------------------------------------------------------------------------------->
	<!--             JavaScript for Google Map showing multiple GPX plus one of more Cafes              -->
	<!---------------------------------------------------------------------------------------------------->
	
	<!-- Only load JS if we have amy rides this day -->
	{% if rides[day] %}

		{% if GOOGLE_MAPS_API_KEY %}
	
			<script>
			
				let {{day}}_map;
				
				async function init{{day}}Map() {
			        
			        /* Request needed libraries */
			        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
			        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
			        
			        /* Define the map view */
			        const {{day}}_map = new Map(document.getElementById("{{day}}_map"), {
			            restriction: {
			                latLngBounds: {{ MAP_BOUNDS | tojson }},
			                strictBounds: false,
			            },
			            zoom: 9,
			            center: {{ ELSR_HOME | tojson }},
			            mapId: "7499929d658a3166",
			        });
			        
			        /* Loop over Polylines */
			        {% for polyline in polylines[day]['polylines'] %}
			        
				        /* Define our polyline */
				        const flightPath{{ loop.index }} = new google.maps.Polyline({
				            path: {{ polyline['polyline'] }},
				            geodesic: true,
				            strokeColor: "{{ polyline['color'] }}",
				            strokeOpacity: 1.0,
				            strokeWeight: 4,
				        });
				
						/* We want a pop up info box for thr GPX route */
						google.maps.event.addListener(flightPath{{ loop.index }}, 'mouseover', function(event) {
				            current_lat = event.latLng.lat();
				            current_lon = event.latLng.lng();
				            
				            // Create a new InfoWindow.
				            gpxInfoWindow{{loop.index}} = new google.maps.InfoWindow({
				                content: '{{ polyline['name'] | safe }}',
				                position: event.latLng,
				            });
				            
				            gpxInfoWindow{{loop.index}}.open({{day}}_map);
						});
				
						/* and close the info box when they move elsewhere */
						google.maps.event.addListener(flightPath{{loop.index}}, 'mouseout', function() {
				            gpxInfoWindow{{loop.index}}.close();
						});
				
						/* Add the path to the map */
				        flightPath{{loop.index}}.setMap({{day}}_map);
			        
			        {% endfor %}
			        
			        
			        /* This is our set of cafes */
					const cafes = {{ cafe_coords[day] | tojson }}
				    
				    // Create an info window to share between markers.
				    const infoWindow = new InfoWindow();
								
			        // Create the markers.
			        cafes.forEach( ({ position, title, color }, i) => {
			            const pin = new PinElement({
			            glyph: `${i + 1}`,
			            });
			            
			            const marker = new AdvancedMarkerElement({
			                position,
			                map: {{day}}_map,
			                title: `${title}`,
			                content: new PinElement({
			                                background: color,
			                                borderColor: "black",
			                                glyphColor: "black",
										}).element
			            });
			            
			            // Add a click listener for each marker, and set up the info window.
			            marker.addListener("click", ({ domEvent, latLng }) => {
			                const { target } = domEvent;
			                infoWindow.close();
			                infoWindow.setContent(marker.title);
			                infoWindow.open(marker.map, marker);
			            });
			        });
			        
				}
			
				init{{day}}Map();
				
			</script>
		
		{% endif %}
	{% endif %}

	<a name="{{ dates_short[day] }}" ></a>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
				<h2 class="mb-3">Group rides for {{ dates_long[day] }}</h2>
				
				{% if not rides[day] %}
				
					<h3>Sorry, we don't have any rides scheduled yet!</h3>
					<p class="my-3">NB Weekend rides are normally scheduled the Thursday / Friday of that week,
					                when we have good visibility of wind direction etc.</p>
				
				{% else %}
				
					<ul>
				
						<!-- Loop through all rides -->
						{% for ride in rides[day] %}
						
							<!-- If GPX file is missing only show to Admins so they can delete it -->
							{% if ride.missing_gpx and not current_user.is_authenticated: %}
						
							{% elif ride.missing_gpx and not (current_user.admin or current_user.email == ride.email) %}
						
							{% else %}
							
								<li class="my-4">
								
									<!-- Animated wheel -->
									{% if ride.group == "Decaff" %}
										<i class="fa-solid fa-cog fa-spin fa-xl"
								           style="--fa-animation-duration: 10s;">
								        </i> &nbsp;
									{% elif ride.group == "Mixed" %}
										<i class="fa-solid fa-cog fa-spin fa-xl"
								           style="--fa-animation-duration: 7s;">
										</i>  &nbsp;
									{% elif ride.group == "Espresso" %}
										<i class="fa-solid fa-cog fa-spin fa-xl"
								           style="--fa-animation-duration: 5s;">
										</i>  &nbsp;
									{% elif ride.group == "Doppio" %}
										<i class="fa-solid fa-cog fa-spin fa-xl"
								           style="">
										</i>  &nbsp;
									{% endif %}
								
									<!-- Warn if GPX missing or not public -->
									{% if ride.missing_gpx %}
										<strong style="color: red">
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
											GPX FILE IS MISSING!
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
										</strong>
									{% elif not ride.public %}
										<strong style="color: red">
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
											WARNING ROUTE NOT PUBLIC YET!
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
										</strong>
									{% endif %}
									
									<!-- Download button -->
						            {% if current_user.is_authenticated: %}
										{% if ride.public and not ride.missing_gpx %}
							                <a href="{{ url_for('route_download', gpx_id=ride.gpx_id) }}">
						                        <button class="btn btn-sm btn-primary">
						                            <i class="fa-solid fa-file-arrow-down"></i> GPX</button>
								            </a>
										{% endif %}
									{% endif %}
									
									<!-- Admins and author can edit / delete the rides -->
									{% if current_user.is_authenticated: %}
										{% if current_user.admin or current_user.email == ride.email %}
											
											<!-- Edit route -->
											 <a href="{{ url_for('add_ride', ride_id=ride.id, date=dates_short[day]) }}">
						                        <button class="btn btn-sm btn-secondary">Edit</button>
								            </a>
									
											<!-- Delete route -->
											<a data-toggle="modal" data-target="#deleteRoute{{ ride.id }}">
						                        <button class="btn btn-sm btn-danger">DEL</button>
								            </a>
									
										{% endif %}
									{% endif %}
									
									<!-- Ride description -->
							        {{ ride.group }}:
									<!-- User Gravatar -->
									<img src="{{ ride.email | gravatar }}"
								         width="40"
										 style="border-radius: 50%;"
										 alt="Gravatar icon"/>
									{{ ride.leader }}
									<a href="{{ url_for('gpx_details', gpx_id=ride.gpx_id) }}">
										<strong>{{ ride.destination }}</strong>
									</a>,
									{{ ride.distance }}km, {{ ride.elevation }}m
									
									<!-- Warn if GPX missing or not public -->
									{% if ride.missing_gpx %}
										<strong style="color: red">
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
											GPX FILE IS MISSING!
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
										</strong>
									{% elif not ride.public %}
										<strong style="color: red">
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
											WARNING ROUTE NOT PUBLIC YET!
											<i class="fa-solid fa-triangle-exclamation fa-beat fa-2xl"></i>
										</strong>
									{% endif %}
									
								</li>
							
								<!--------------------------------------------------------------------------------------------->
								<!--                         Modal form for deleting ride                                    -->
								<!--------------------------------------------------------------------------------------------->
								
								<div class="modal fade" id="deleteRoute{{ ride.id }}" tabindex="-1" role="dialog">
								    <div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="blockModalLabel">
													Delete ride '{{ ride.group }}: {{ ride.leader }}, {{ ride.destination }}'
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
		
												<form action="{{ url_for('delete_ride', ride_id=ride.id, date=dates_short[day]) }}" method="post">
													<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
													
													<div class="form-group">
														<label class="col-form-label">
															Enter <strong>your password</strong> below.
														</label>
														<input type="password" class="form-control" name="password">
													</div>
													
													<div class="modal-footer">
														<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-danger">Submit</button>
													</div>
													
												</form>
											</div>
										</div>
									</div>
								</div>  <!-- End of modal form -->
						
							{% endif %}
						
						{% endfor %}
						
					</ul>
		
					<!--------------------------------------------------------------------------------------------->
					<!--                                      Start times                                        -->
					<!--------------------------------------------------------------------------------------------->
					{% if start_details[day] %}
					
						<!-- One or more rides start has a custom start time or location -->
						<p>
							All <strong>{{ day }}</strong> rides start at
							{{ default_start_time_html(day) | safe }}, except:
						</p>
				
						<!-- List exceptions -->
						<ul>
							{% for start_detail in start_details[day] %}
								<li>
									<i style="color: red" class="fa-solid fa-triangle-exclamation fa-beat fa-xl"></i>
									<strong>{{ start_detail['group'] }}</strong> to
									<strong>{{ start_detail['destination'] }}</strong>:
									{{ custom_start_time_html(day, start_detail['start_time']) | safe }}
									<i style="color: red" class="fa-solid fa-triangle-exclamation fa-beat fa-xl"></i>
								</li>
							{% endfor %}
						</ul>
					
					{% else %}
					
						<!-- All rides start at default time / place -->
						<p>
							All <strong>{{ day }}</strong> rides start at
							{{ default_start_time_html(day) | safe }}.
						</p>
						
					{% endif %}
	
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row mt-4">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
				{% if rides[day] %}
				
					<!--------------------------------------------------------------------------------------------->
					<!--                               Remind people to log in                                   -->
					<!--------------------------------------------------------------------------------------------->
					{% if not current_user.is_authenticated: %}
					
						<a href="{{ url_for('login') }}">
							<div class="float-left" style="color: red">
								<strong>Log in to download GPX files.</strong>
							</div>
						</a>
					
					{% else %}
				
						<div class="float-left">
							For help downloading on mobiles:
							<a href="{{ url_for('gpx_guide') }}">
								<strong>GPX Download Guide</strong>.
							</a>
						</div>
				
						{% if current_user.readwrite %}
							<!-- Add ride button -->
							<a href="{{ url_for('add_ride', date=dates_short[day]) }}">
								<button type="button" class="btn btn-sm btn-primary float-right">
									Add ride
								</button>
							</a>
						{% endif %}
						
					{% endif %}
				
				{% else %}
					{% if current_user.is_authenticated: %}
						{% if current_user.readwrite %}
							<!-- Add ride button -->
							<a href="{{ url_for('add_ride', date=dates_short[day]) }}">
								<button type="button" class="btn btn-sm btn-primary float-right">
									Add ride
								</button>
							</a>
						{% endif %}
					{% endif %}
				{% endif %}
				
			</div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
				<!-- Break before next section -->
				<hr>
				
			</div>
		</div>
	</div>

	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                      Routes map                                                -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% if rides[day] %}
	
		<div class="container">
			<div class="row mt-2">
				<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
					
					<h2>Map of rides for {{ dates_long[day] }}</h2>
					
		
					<!---------------------------------------------------------------------------------------------------->
					<!--                                      Insert Google Map                                         -->
					<!---------------------------------------------------------------------------------------------------->
					
					<div id="{{day}}_map" style="height: 500px">
						{% if not GOOGLE_MAPS_API_KEY %}
							<img src="{{ url_for('static', filename='img/fake_map.jpg') }}">
						{% endif %}
					</div>
					
					<!-- Break before footer -->
					<hr>
					
				</div>
			</div>
		</div>
	
	{% endif %}
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                         Elevation Graphs                                       -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% if rides[day] %}
	
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					
					<h2 class="my-3">Elevations for {{ dates_long[day] }}</h2>
					
					<div style="height: 300px; width: 100%;">
						<canvas id="{{day}}Elevation"></canvas>
					</div>
					<script>
					
						var custom_icon = new Image();
		                custom_icon.src = 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png';
				 
				        const {{day}}Data = {
				            datasets: [
					           
					           /* These are our cafes */
					           {% for cafe in elevation_cafes[day] %}
			                       {
				                        label: '{{ cafe['name']  | tojson }}',
				                        pointStyle: [custom_icon],
				                        data: {{ [cafe['coord']] | tojson }},
				                    },
			                   {% endfor %}
			                   
								/* These are our routes */
								{% for gpx in elevation_data[day] %}
								
									{
				                        label: 'Dist (km), Elevation (m)',
				                        pointStyle: 'false',
				                        radius: 0,
				                        tension: 3,
				                        showLine: true,
				                        data: {{ gpx['elevation'] | tojson }},
				                        backgroundColor: '{{ gpx['colour'] }}',
				                        borderColor: '{{ gpx['colour'] }}'
				                    },
				                
				                {% endfor %}
		                    ],
						};
					
			            
			            const {{day}}Config = {
							  type: 'scatter',
							  data: {{day}}Data,
							  options: {
							        maintainAspectRatio: false,
							        scales: {
							            x: {
							                type: 'linear',
							                position: 'bottom'
							            },
							        },
							        plugins: {
				                       legend: {
			                                display: false
		                               }
							        }
							  }
						};
							     
				        
				        const {{day}}Chart = new Chart(
				            document.getElementById('{{day}}Elevation'),
				            {{day}}Config
				        );
			         
			        </script>
					
					<!-- Separator before next section -->
					<hr>
					
				</div>
			</div>
		</div>
	
	{% endif %}

{% endfor %}  <!-- for day in days -->


<!---------------------------------------------------------------------------------------------------->
<!--                              Note about email notifications                                    -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>Email Notifications</h2>
		
			<p>
				You can set email notification by group, e.g. Espresso or Doppio, and have an email sent
				directly to you as soon as a new ride appears. The email contains a download link which
				will work from any device and doesn't require you to be logged in.
			
				{% if current_user.is_authenticated %}
				
					Sign up on your
					<a href="{{ url_for('user_page', user_id=current_user.id, anchor='notifications') }}">
						<strong>User Page.</strong>
					</a>
				
				{% else %}
				
					<a href="{{ url_for('login') }}">
						<strong>Log in</strong>
					</a>
					to be able to set email notifications.
				
				{% endif %}
				
			</p>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                              Script to allow page jump to anchor                               -->
<!---------------------------------------------------------------------------------------------------->

<script>
	
	{% if anchor != "" %}
		
	    /* Jump to anchor */
        window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#{{anchor}}"
	
	{% endif %}
	
</script>




{% endblock %}
