{% extends "base.html" %}


{% block content %}

<head>
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                Load JavaScript for chart.js                                    -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
</head>


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/gpx-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Route: '{{ gpx.name }}'</h1>
					<span class="subheading">{{ gpx.length_km|int }} km and {{ gpx.ascent_m|int }} m climbing</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--               Owner / Admin control panel - Show before if not public                          -->
<!---------------------------------------------------------------------------------------------------->

{% if not current_user.is_authenticated: %}

	<!--
		Tortuous logic as if current_user isn't logged in they won't have inherited .email etc.
		So, have to test for that first and handle that separately.
	-->

{% elif (current_user.email == gpx.email or current_user.admin()) and not gpx.public() %}

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<h2 class="my-5">Route management</h2>
				
				<div class="clearfix">
				
					<!-- Edit button -->
					<a class="btn btn-primary float-left" href="{{ url_for('edit_route', gpx_id=gpx.id) }}">Edit Route</a>
					
					<!-- (un)Publish button -->
					{% if not gpx.public(): %}
					
						<!-- Mini form to publish route -->
						<form action="{{ url_for('publish_route', gpx_id=gpx.id) }}"
						      method="post">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<button type="submit" class="btn btn-primary float-left mx-3">Publish Route</button>
						</form>
			
					{% else: %}

						<!-- Mini form to hide route -->
						<form action="{{ url_for('hide_route', gpx_id=gpx.id) }}"
						      method="post">
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
							<button type="submit" class="btn btn-warning float-left mx-3">Hide Route</button>
						</form>
					
					{% endif %}
				
					<!-- Delete button -->
					<a class="btn btn-danger float-right"
					   data-toggle="modal" data-target="#deleteRouteModal">Delete Route</a>
					
				</div>
				
				<!-- Separator before next section -->
				<hr>
				
			</div>
		</div>
	</div>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Route details                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
	
            <div class="clearfix">
               
                <h2 style="text-align:left;float:left;">Route details</h2>
	            
	            <!-- Download button -->
	            {% if current_user.is_authenticated: %}
	                <a href="{{ url_for('route_download', gpx_id=gpx.id) }}">
                        <button class="btn btn-primary " style="text-align:right;float:right;">
                                Download GPX</button>
		            </a>
	            {% else %}
	                <button class="btn btn-primary" disabled style="text-align:right;float:right;"
	                        href="">Log in to Download</button>
	            {% endif %}
	            
            </div>
	           
	        <p>{{ gpx.length_km|int }} km and {{ gpx.ascent_m|int }} m climbing</p>
			
			<p class="my-0"> Cafe options:</p>
			<ul>
				{% for cafe in cafe_list: %}
				<li> <a href="{{ url_for('cafe_details', cafe_id=cafe['id']) }}">
					<b>{{ cafe['name'] }}</b> </a> is {{ cafe['dist_km'] }} km away at {{ cafe['range_km'] }} km along the route
                </li>
				
				{% endfor %}
			</ul>
			
			<p> Uploaded by {{ author }} on {{ gpx.date }} </p>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>



<!---------------------------------------------------------------------------------------------------->
<!--                                 Show the map of the route                                      -->
<!---------------------------------------------------------------------------------------------------->

<script>
	
	async function initMap() {
        
        // Request needed libraries.
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
        
        /* Define the map view */
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            center: { lat: {{ midlat }}, lng: {{ midlon }} },
            mapId: "7499929d658a3166",
        });
        
        /* Define our polyline */
        const flightPath = new google.maps.Polyline({
            path: {{ polyline }},
            geodesic: true,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 4,
        });

		/* We want a pop up info box for thr GPX route */
		google.maps.event.addListener(flightPath, 'mouseover', function(event) {
            current_lat = event.latLng.lat();
            current_lon = event.latLng.lng();
            
            // Create a new InfoWindow.
            gpxInfoWindow = new google.maps.InfoWindow({
                content: "Route: '{{ gpx.name }}'",
                position: event.latLng,
            });
            
            gpxInfoWindow.open(map);
		});

		/* and close the info box when they move elsewhere */
		google.maps.event.addListener(flightPath, 'mouseout', function() {
            gpxInfoWindow.close();
		});

		/* Add the path to the map */
        flightPath.setMap(map);
     	
     	/* This is our set of cafes */
		const cafes = {{ cafe_markers | tojson }}
	    
	    // Create an info window to share between markers.
	    const infoWindow = new InfoWindow();
					
        // Create the markers.
        cafes.forEach( ({ position, title, color }, i) => {
            const pin = new PinElement({
            glyph: `${i + 1}`,
            });
            
            const marker = new AdvancedMarkerElement({
                position,
                map,
                title: `${i + 1}. ${title}`,
                content: new PinElement({
                                background: color,
                                borderColor: "black",
                                glyphColor: "black",
							}).element
            });
            
            // Add a click listener for each marker, and set up the info window.
            marker.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(marker.map, marker);
            });
        });
	}

	window.initMap = initMap;

</script>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
	
            <h2 class="my-3">Map view of route '{{ gpx.name }}'</h2>
            
           <div id="map" style="height: 500px"></div>

	        <!--
		      The `defer` attribute causes the callback to execute after the full HTML
		      document has been parsed. For non-blocking uses, avoiding race conditions,
		      and consistent behavior across browsers, consider loading using Promises.
		      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
		      for more information.
	        -->
	        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpvpfytPlvdOpd6cGzRk_27Pqo6pelqHE&callback=initMap&v=weekly"
	                defer>
		       
	        </script>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                             Show elevation graph of the route                                  -->
<!---------------------------------------------------------------------------------------------------->


<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="my-3">Elevation view of route '{{ gpx.name }}'</h2>
			
			<div style="height: 300px; width: 100%;">
				<canvas id="myChart"></canvas>
			</div>
			<script>
			
				var custom_icon = new Image();
                custom_icon.src = 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png';
		 
		        const data = {
		            datasets: [
			           {% for cafe in cafe_elevation_data %}
	                       {
		                        label: '{{ cafe['name']  | tojson }}',
		                        pointStyle: [custom_icon],
		                        data: {{ [cafe['coord']] | tojson }},
		                    },
	                    {% endfor %}
	                    {
	                        label: 'Dist (km), Elevation (m)',
	                        pointStyle: 'false',
	                        radius: 0,
	                        tension: 3,
	                        showLine: true,
	                        data: {{ elevation_data | tojson }},
	                        backgroundColor: 'rgb(255, 99, 132)',
	                        borderColor: 'rgb(255, 99, 132)'
	                    },
                    ],
				};

	            const config = {
					  type: 'scatter',
					  data: data,
					  options: {
					        maintainAspectRatio: false,
					        scales: {
					            x: {
					                type: 'linear',
					                position: 'bottom'
					            },
					        },
					        plugins: {
		                       legend: {
	                                display: false
                               }
					        }
					  }
				};
	        
		        
		        const myChart = new Chart(
		            document.getElementById('myChart'),
		            config
		        );
	         
	        </script>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                     Owner / Admin control panel - Show after if public                         -->
<!---------------------------------------------------------------------------------------------------->

{% if not current_user.is_authenticated: %}

	<!--
		Tortuous logic as if current_user isn't logged in they won't have inherited .email etc.
		So, have to test for that first and handle that separately.
	-->

{% elif (current_user.email == gpx.email or current_user.admin()) and gpx.public(): %}
	
	<!-- Logged in and either admin or owner and route is public -->

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				
				<!-- Button to expose hidden options -->
				<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
				   aria-expanded="false" aria-controls="collapseExample">
                    Route management
                </a>
				
				<!-- Edit buttons etc are collapsed -->
				<div class="collapse" id="collapseExample">
                    <div class="card card-body my-3">
	                   <div class="clearfix">
				
							<!-- Edit button -->
							<a class="btn btn-primary float-left" href="{{ url_for('edit_route', gpx_id=gpx.id) }}">Edit Route</a>
							
							<!-- (un)Publish button -->
		                   {% if not gpx.public(): %}
					
								<!-- Mini form to publish route -->
								<form action="{{ url_for('publish_route', gpx_id=gpx.id) }}"
								      method="post">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
									<button type="submit" class="btn btn-primary float-left mx-3">Publish Route</button>
								</form>
			
							{% else: %}

								<!-- Mini form to hide route -->
								<form action="{{ url_for('hide_route', gpx_id=gpx.id) }}"
								      method="post">
									<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
									<button type="submit" class="btn btn-warning float-left mx-3">Hide Route</button>
								</form>
					
							{% endif %}
						
							<!-- Delete button -->
							<a class="btn btn-danger float-right"
							   data-toggle="modal" data-target="#deleteRouteModal">Delete Route</a>
				
						</div>
	                </div>
				</div>
	   
				<!-- Separator before next section -->
				<hr>
				
			</div>
		</div>
	</div>

{% elif gpx.public() %}

	<!-- We are logged in -->
	<!-- Route is public -->
	<!-- We are neither owner nor admin -->

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto mt-3">
				
				<!-- Download button -->
	            <a class="btn btn-primary float-right" href="">Download GPX</a>

			</div>
			
			<div class="col-lg-8 col-md-10 mx-auto">
				<!-- Separator before footer -->
				<hr>
			</div>
			
		</div>
	</div>
	
{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                         Modal form for confirming route delete                                 -->
<!---------------------------------------------------------------------------------------------------->

<div class="modal fade" id="deleteRouteModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete GPX file from database</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--
					NB To get the two parameters use:
						1. gpx_id = request.args.get('gpx_id', None)
                        2. confirm = request.form['confirm']
				-->
				<form action="{{ url_for('route_delete', gpx_id=gpx.id) }}" method="post">
					
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<input type="hidden" name="return_page" value="{{ url_for('gpx_details', gpx_id=gpx.id) }}"/>
					
					<div class="form-group">
						<label class="col-form-label">
							Please enter <strong>your password</strong> in the box below:</label>
						<input type="password" class="form-control" name="password">
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger">Submit</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>  <!-- End of modal form -->


{% endblock %}
