{% extends "base.html" %}

<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}


{% block content %}



<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header  class="masthead"
         style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					
					<h1>Edit GPX Details</h1>
					
					<span class="subheading">Edit {{gpx.name}} before publishing it....</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Cafe Edit form                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-3">Rename the ride</h2>
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "cancel": "secondary"}) }}
			
			<!-- Break before next section -->
			<hr>
			
		</div>
	</div>
</div>



<!---------------------------------------------------------------------------------------------------->
<!--                              JavaScript for culling a route                                    -->
<!---------------------------------------------------------------------------------------------------->

{% if GOOGLE_MAPS_API_KEY %}

	<script>
		
		(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
		    key: "{{ GOOGLE_MAPS_API_KEY }}",
		    v: "weekly",
		    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
		    // Add other bootstrap parameters as needed, using camel case.
	    });
	
		let map1;
		
		async function startMap() {
	        
	        // Request needed libraries.
	        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
	        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
	        
	        /* Define the map view */
	        const map1 = new Map(document.getElementById("start_map"), {
	            restriction: {
	                latLngBounds: {{ MAP_BOUNDS | tojson }},
	                strictBounds: false,
	            },
	            zoom: 15,
	            center: { lat: {{ start_map_coords['lat'] }}, lng: {{ start_map_coords['lng'] }} },
	            mapId: "7499929d658a3166",
	        });
	
			/* This is the red round thing we use as a marker */
			const image = "http://maps.google.com/mapfiles/kml/pal4/icon49.png";
	
	        /* This is our set of cafes */
			const start_markers = {{ start_markers | tojson }};
		    
		    // Create an info window to share between markers.
		    const infoWindow = new InfoWindow();
						
	        // Create the markers.
	        start_markers.forEach( ({ position, title }, i) => {
	            const pin = new PinElement({
	            glyph: `${i + 1}`,
	            });
	            
	            const marker = new google.maps.Marker({
	                position: position,
	                map: map1,
	                title: `${title}`,
	                icon: image,
	            });
	            
	            // Add a click listener for each marker, and set up the info window.
	            marker.addListener("click", ({ domEvent, latLng }) => {
	                const { target } = domEvent;
	                infoWindow.close();
	                infoWindow.setContent(marker.title);
	                infoWindow.open(marker.map, marker);
	            });
	        });
		}
	
		startMap();
		
		
		
		let map2;
		
		async function endMap() {
	        
	        // Request needed libraries.
	        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
	        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
	        
	        /* Define the map view */
	        const map2 = new Map(document.getElementById("end_map"), {
	            restriction: {
	                latLngBounds: {{ MAP_BOUNDS | tojson }},
	                strictBounds: false,
	            },
	            zoom: 15,
	            center: { lat: {{ end_map_coords['lat'] }}, lng: {{ end_map_coords['lng'] }} },
	            mapId: "7499929d658a3166",
	        });
	
			/* This is the red round thing we use as a marker */
			const image = "http://maps.google.com/mapfiles/kml/pal4/icon49.png";
	
	        /* This is our set of cafes */
			const end_markers = {{ end_markers | tojson }};
		    
		    // Create an info window to share between markers.
		    const infoWindow = new InfoWindow();
						
	        // Create the markers.
	        end_markers.forEach( ({ position, title }, i) => {
	            const pin = new PinElement({
	            glyph: `${i + 1}`,
	            });
	            
	            const marker = new google.maps.Marker({
	                position: position,
	                map: map2,
	                title: `${title}`,
	                icon: image,
	            });
	            
	            // Add a click listener for each marker, and set up the info window.
	            marker.addListener("click", ({ domEvent, latLng }) => {
	                const { target } = domEvent;
	                infoWindow.close();
	                infoWindow.setContent(marker.title);
	                infoWindow.open(marker.map, marker);
	            });
	        });
		}
	
		endMap();
	
	</script>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show the map of the start                                      -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
	
            <h2 class="mb-2">Edit the start of your route</h2>
			<p>Click on a point in the map to start the route at that point i.e. delete all previous points.</p>
            
			
            <!---------------------------------------------------------------------------------------------------->
			<!--                                      Insert Google Map                                         -->
			<!---------------------------------------------------------------------------------------------------->
			
			<div id="start_map" style="height: 500px">
				{% if not GOOGLE_MAPS_API_KEY %}
					<img src="{{ url_for('static', filename='img/fake_map.jpg') }}">
				{% endif %}
			</div>
			
			<hr>
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show the map of the end                                        -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
	
            <h2 class="my-2">Edit the end of your route</h2>
			<p>Click on a point in the map to end the route at that point i.e. delete all subsequent points.</p>
            
            <!---------------------------------------------------------------------------------------------------->
			<!--                                      Insert Google Map                                         -->
			<!---------------------------------------------------------------------------------------------------->
			
			<div id="end_map" style="height: 500px">
				{% if not GOOGLE_MAPS_API_KEY %}
					<img src="{{ url_for('static', filename='img/fake_map.jpg') }}">
				{% endif %}
			</div>
	
			<hr>
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--               Owner / Admin control panel                                                      -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<h2 class="my-2">When you are happy with the start and finish locations.</h2>
			
			<div class="clearfix">
				
				{% if not gpx.public(): %}
				
					<!-- Mini form to publish route -->
					<form action="{{ url_for('publish_route', gpx_id=gpx.id, return_path=return_path) }}"
					      method="post">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<button type="submit" class="btn btn-primary float-left">Publish Route</button>
					</form>
			
				{% else: %}

					<!-- Mini form to hide route -->
					<form action="{{ url_for('hide_route', gpx_id=gpx.id, return_path=return_path) }}"
					      method="post">
						<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<button type="submit" class="btn btn-warning float-left">Hide Route</button>
					</form>
				
				{% endif %}
			
				<!-- Delete button -->
				<a class="btn btn-danger float-right"
				   data-toggle="modal" data-target="#deleteRouteModal">Delete Route</a>
				
			</div>
			
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                         Modal form for confirming route delete                                 -->
<!---------------------------------------------------------------------------------------------------->

<div class="modal fade" id="deleteRouteModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete GPX file from database</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--
					NB To get the two parameters use:
						1. gpx_id = request.args.get('gpx_id', None)
                        2. confirm = request.form['confirm']
				-->
				<form action="{{ url_for('route_delete', gpx_id=gpx.id) }}" method="post">
					
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<input type="hidden" name="return_page" value="{{ url_for('edit_route', gpx_id=gpx.id) }}"/>
					
					<div class="form-group">
						<label class="col-form-label">
							Please enter <strong>your password</strong> in the box below:
						</label>
						<input type="password" class="form-control" name="password">
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-danger">Submit</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>  <!-- End of modal form -->


{% endblock %}
