{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/gravel-bg.jpg')}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Gravel</h1>
					<span class="subheading">What do you mean you don't have a Gravel bike?</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                         Quick Links                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
		
			<h2>Gravel Links</h2>
			
			<ul>
				<li><a href="{{ url_for('gravel') }}"><strong>Gravel Intro</strong></a></li>
				<li><a href="{{ url_for('gravel_local') }}"><strong>Routes from Cambridge</strong></a></li>
				<li><a href="{{ url_for('gravel_ldt') }}"><strong>Long Distance Trails</strong></a></li>
				<li><a href="{{ url_for('gravel_all') }}"><strong>All Gravel GPXes</strong></a></li>
			</ul>
	
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                      WhatsApp Group                                            -->
<!---------------------------------------------------------------------------------------------------->

<!-- Readwrite users can see WA link -->
{% if current_user.is_authenticated: %}
	{% if current_user.readwrite() %}

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
				
					<h2>ELSR Gravel WhatsApp Group</h2>
				
					<p>
						We have a WhatsApp Group for discussing Gravel Rides. You can join using
						<a href="https://chat.whatsapp.com/BYNwRtOx8dnEmqmxOqWEvo"><strong>this link.</strong></a>
					</p>
					
					<hr>
			
				</div>
			</div>
		</div>

	{% endif %}
{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                           Intro                                                -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>It's like mountain biking from the 1980s</h2>
			
			<p>
				In case you've been living as a hermit for the last 5 years, Gravel riding and Gravel Packing is
				the 'in thing' currently. Every man and his dog is adding a Gravel Bike to their stable. So,
				obviously ELsr has jumped on the bandwagon and is milking this trend for all it's worth!
			</p>
			
			<p>
				East Anglia might not be the most exciting place in the UK to gravel bike, but we have a good selection
				of bridleways and a very dry climate, which means lots of trails which are rideable almost all year
				round. There are good train connections from Cambridge to the coast, which gives lots of option e.g.
				ride out, train back etc.
			</p>
			
			<p>
				Our local trails are definitely at the easier end of gravel riding with virtually no technical sections,
				unlike say The Lake District or Mid Wales. However, they are pretty fast rolling and given how flat the
				region is, you are able to cover good distances very easily e.g. the Fastest Known Time for the 372 km
				Rebellion Way is a staggering 13h:30m! See
				<a href="https://www.strava.com/activities/9674738731"><strong>Strava.</strong></a>
				However, we would recommend a slightly more leisurely approach, e.g. splitting the route over three
				days and enjoying the scenary.
			</p>
			
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                           Gravel Bikes                                         -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>What is a Gravel Bike?</h2>
			
			<p>
				A very good question! With the current trend of road bikes accepting wider and wider tyres, the
				difference between modern road bikes and gravel bikes is shrinking. Typically, a gravel bike will take
				anything up to 55mm tyres with good clearance for mud and / or mudguards. The geometry will be
				slightly more relaxed (longer wheelbase and slacker head tube angle). This will favour stability over
				razor sharp handling and make the bike easier to ride over rough terrain. They also tend to have a
				more upright position e.g. slightly shorter reach and higher stack than road specific frames.
			</p>
			<p>
				However, the single biggest difference in handling comes from running wider tyres at lower pressures,
				which make a big difference to how the bike feels on bridleways etc. For out local trails, you won't be
				pushing the upper bounds of technical riding, so a more road orientated frame with some 35mm tyres will
				probably be absolutely fine.
			</p>
			<p>
				If you find gravel ride a bit battering on the wrists or hands, there are some excellent solutions out
				there e.g. I use a
				<a href="https://www.youtube.com/watch?v=jL4kzCsiJfM"><strong>RedShift stem </strong></a>
				on my Gravel Bike, which makes a huge difference to how rough the trails feel and how far you can ride.
			</p>
			
			<p>
				NB Worth noting that the <a href="https://www.rsf.org.uk/"><strong>Rough Stuff Fellowship</strong></a>
				have been riding (or often carrying) normal road bikes offroad for a very long time e.g. when it
				was compulsory to smoke a pipe and wear shorts in winter even for ladies.
			</p>
			
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                        Gravel Packing                                          -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>What is a Gravel Packing?</h2>
			
			<p>
				Traditional panniers are so 1980s. Every outdoor company under the sun is now selling soft, strap on
				luggage for gravel bikes. E.g. for one or two nights B&Bing I use:
			</p>
			
			<ul>
				<li>10 litre saddle bag carrying spare shoes and clothes</li>
				<li>3 litre frame bag carrying pump, tools, tubes and small lock</li>
				<li>7 litre bar bag carrying gilet, waterproof, food, wallet and suncream etc (normally half empty)</li>
			</ul>
			
			<img class="mt-2" src="{{ url_for('static', filename='/img/free-ranger.jpg') }}"
			     style="width: 100%; border: 4px solid #000;">
							
			<p>
				If you're using B&Bs, then you only really need a change of clothes for the evening and maybe a spare
				pair of cycle shorts and a toothbrush. Spare shoes take up most of the space, but it's nice to give
				your feet a rest and your cycling shoes could easily be wet. If you're camping then you're going to
				need a lot more kit and be a lot more inventive in how you pack it e.g. see
				<a href="https://www.youtube.com/watch?v=gItut2g9_3k"><strong>Juliet Elliott's set up.</strong></a>
			</p>
			
			<hr>
			
		</div>
	</div>
</div>








{% endblock %}