{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Page Header                                                -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>EL Social Rides</h1>
					<span class="subheading">The first rule of bike club is....</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                   JavaScript for Google Maps (one or more cafes)                               -->
<!---------------------------------------------------------------------------------------------------->

<script>
	
	(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
	    key: "{{ GOOGLE_MAPS_API_KEY }}",
	    v: "weekly",
	    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
	    // Add other bootstrap parameters as needed, using camel case.
    });
	
	
	let map;
	
	async function initMap() {
        
        // Request needed libraries.
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
        
        /* Define the map view */
        const map = new google.maps.Map(document.getElementById("map"), {
            restriction: {
                latLngBounds: {{ MAP_BOUNDS | tojson }},
                strictBounds: false,
            },
            zoom: 16,
            center: {{ ELSR_HOME | tojson }},
            mapId: "7499929d658a3166",
        });

     	/* This is our set of cafes */
		const cafes = {{ cafes | tojson }}
	    
	    // Create an info window to share between markers.
	    const infoWindow = new InfoWindow();
					
        // Create the markers.
        cafes.forEach( ({ position, title, color }, i) => {
            const pin = new PinElement({
                glyph: `${i + 1}`,
            });
            
            const marker = new AdvancedMarkerElement({
                position,
                map,
                title: `${title}`,
                content: new PinElement({
                                background: color,
                                borderColor: "black",
                                glyphColor: "black",
                                scale: 1.5,
							}).element
            });
            
            // Add a click listener for each marker, and set up the info window.
            marker.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(marker.map, marker);
            });
        });
	}

	initMap();

</script>


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			<h2>Who? <i class="fa-solid fa-people-group"></i></h2>
			<p>EL Social Rides are a collective of riders who meet regularly for social rides. There is no club,
			   no membership, no committee and almost no hierarchy. Although a small number of riders do most of the
			   organising and lead the rides. There is only one rule and that's 'Don't be an arsehole'. Actually, there is
			   another one, no riders under 18 unless accompanied by a parent or guardian. There's also one about
			   mudguards in winter...</p>
			
			<h2>Where? <i class="fa-solid fa-map-location-dot"></i></h2>
			<p>We normally meet at 8am every Saturday and Sunday mornings, at Espresso Library, East Road, Cambridge,
			   see map below: </p>
			
			
			<!---------------------------------------------------------------------------------------------------->
			<!--                                      Insert Google Map                                         -->
			<!---------------------------------------------------------------------------------------------------->
			
			<div id="map" style="height: 500px"></div>

			
			<h2 class="mt-5">What? <i class="fa-regular fa-circle-question"></i></h2>
			<p>We then split into groups by ability and destination before starting our regular cafe
			   rides, which can be anything between 50 km and 200 km, although the norm is around 100 km. Nearly all
			   rides include a stop at a local cafe for coffee, cake and for the more discerning, a bacon roll.
			   Vegetarian / Vegan options are normally available.</p>
			
			<h2>Fancy joining in? <i class="fa-solid fa-person-biking"></i></h2>
			<p>Rides, routes and leaders are announced in advance via a private WhatsApp group and also a public
			   <a href="https://www.facebook.com/groups/326130959238218">
				   <i class="fa fa-external-link fa-2xs"></i> Facebook page
			   </a>. However, there
			   is no need to 'sign up' in advance (no one does), we just turn up and ride. New riders are welcome to
			   turn up at Espresso Libray, say Hello and join the rides. If you play nicely, someone will add you to
			   the WA group. </p>
			
			<h2 class="mt-5">Saturday - main ride</h2>
			<p>The main event is on Saturday morning. Depending on numbers, there will be anything from one to five
			   groups departing. We normally strive to have three routes planned:</p>
			
			<ul>
				<li class="my-3">
					<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 10s;"> </i> &nbsp;
					<strong>Decaff</strong> - 70-100 km at <strong>25 kph</strong>, chatty pace, no man (or woman) will be left behind.</li>
				<li class="my-3">
					<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 5s;"></i> &nbsp
					<strong>Espresso</strong> - 100 km at <strong>28-30 kph</strong>, no drop ride, will regroup after drags, hills etc.
				                              Will split into two groups if too large.</li>
				<li class="my-3">
					<i class="fa-solid fa-cog fa-spin fa-xl"></i> &nbsp
					<strong>Doppio</strong> - 100km at <strong>30-33 kph</strong> with plenty of surging, theoretically 'no drop', but
				                            the number arriving at the cafe is always less than that which started!
				                            Will split into two groups if too large.</li>
			</ul>
			
			<p>All ELSR riders will be on drop bar road bikes with narrow (25-30mm), road orientated tyres. Anyone thinking of
			   joining riding a flat bar hybrid or mountain bike, is advised to join the Decaff ride and may well find
			   they struggle to keep up. Road bikes are called 'road' bikes for a reason.
			</p>
			<p> Obviously there are those annoying individuals who turn up at the Tuesday night chaingang on a mountain bike and still
			    win the sprint up Chapel Hill, but they are what is known as 'genetic freaks' ;-)
			</p>
			<p>You can see the upcoming rides for this weekend
				<a href="{{ url_for('weekend') }}"><strong>here</strong></a>. NB Ride
			   details normally start appearing around Thursday / Friday of each week.</p>
			
			<h2 class="mt-5">Sunday - single group</h2>
			<p>Sunday normally has a smaller turnout with a single group riding at between Decaf and Espresso pace.</p>
			<p>You can see the upcoming rides for this weekend
				<a href="{{ url_for('weekend') }}"> <strong>here</strong></a>. NB Ride
			   details normally start appearing around Thursday / Friday of each week.</p>
			
			<h2 class="mt-5">Thursday night Chaingang / Paceline <i class="fa-solid fa-link"></i></h2>
			<p>For those of you who missed out on a UCI Pro-team contract this year, we have the next best thing.
			   From late March till September, there is also a Chaingang. Details can be found
				<a href="{{ url_for('chaingang') }}"><strong>here</strong>.</a>
			</p>
			
			<h2 class="mt-5">www.elsr.co.uk</h2>
			<p>This website is a resource aimed at facilitating the group rides by archiving the details of our
			   preferred cafes and the associated GPX files used to lead the rides. It is fully editable, just
			   sign up via email, and add cafes and GPX files to the database.</p>
			
			<p>ELSR and www.elsr.co.uk are not associated with Espresso Library Cafe in any way, we just meet there
			   at the weekend.</p>
			
			<!-- Register button -->
			{% if not current_user.is_authenticated %}
				<a class="btn btn-primary" href="{{ url_for('register') }}" role="button"
				   aria-expanded="false" aria-controls="collapseExample">
	                   Register
	            </a>
			{% endif %}
			
			<!-- Break before footer -->
			<hr>
			
		</div>
	</div>
</div>


{% endblock %}
