{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/page-headers/gdpr-bg.jpg')}}')"
		alt="Corruption Reporting Box">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>GDPR</h1>
					<span class="subheading">For once we have to be serious...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<!------------------------------------------>
			<!--      Type of data we collect         -->
			<!------------------------------------------>
			
			<h2>The type of personal information we collect</h2>
			
			<p>We currently collect and process the following information:</p>
			
			<ul>
				<li class="my-3">Personal identifiers and contacts i.e. email address. If you have opted to use 2FA
				                 (recommended) then we will also collect your phone number.</li>
				<li class="my-3">We also log your IP address and access times.</li>
			</ul>
			
			<hr class="mb-4">
			
			
			<!------------------------------------------>
			<!--               Sources                -->
			<!------------------------------------------>
			
			<h2>How we get the personal information and why we have it</h2>
			
			<p>Most of the personal information we process is provided to us directly by you for one of the following reasons:</p>
			
			<ul>
				<li class="my-3">Manage user accounts on the website.</li>
				<li class="my-3">Keep some group information private to regular members / riders.</li>
			</ul>
			
			<p>
				We <strong> only </strong> share this information with other organisations, who provide essential
				services, necessary to run the site. Currently we use:
			</p>
			
			<ul>
				<li class="my-3"><strong>Gmail</strong>, part of Google, sends email verification messages, password
				                                       recovery emails and notification emails on our behalf.</li>
				<li class="my-3"><strong>Twilio</strong> sends SMS texts on our behalf,
				                                         which are required for Two Factor Authentication.</li>
				<li class="my-3"><strong>Gravatar</strong> who provide avatars. We pass them email addresses and they
				                                           return an avatar based on that email.</li>
				
			</ul>
		
			<p>
				Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing
			    this information are:
			</p>
			
			<ul>
				<li class="my-3"><strong>Your consent.</strong> You are able to remove your consent at any time.</li>
			</ul>
			
			<hr class="mb-4">
			
			
			<!------------------------------------------>
			<!--         Your information             -->
			<!------------------------------------------>
			
			<h2>How we store your personal information</h2>
			
			<p>
				Your personal information is stored on a server in the Google Cloud.
				Access to personal information stored on the server is restricted to ELSR's
				<a  href="" data-toggle="modal" data-target="#showAdmins">
					<strong>Sysadmin</strong> and a small group of ELSR members who act as <strong>web admins</strong>,
				</a>
				moderating the website. Server backups are automated by Google and
				stored by Google in encrypted form. Any local copies of personal data e.g. for development or
				diagnostic purposes (eg log files) and stored on a password protected, encrypted PC.
			</p>
			
			<p>
				Any diagnostic logfiles will be securely deleted once they have served their purpose. Any user accounts
				inactive for two years or more will be deleted from the server, after making an attempt to contact the
				user by email to offer them a chance to retain their account before deletion.
			</p>
			
			<hr class="mb-4">
			
			<!------------------------------------------>
			<!--              Your rights             -->
			<!------------------------------------------>
			
			<h2>Your data protection rights</h2>
			<p>Under data protection law, you have rights including:</p>
			<ul>
				<li class="my-3">Your right of <strong>access</strong> - You have the right to ask us for copies of your personal
				    information. NB You can find everything on your user page.</li>
				<li class="my-3">Your right to <strong>rectification</strong> - You have the right to ask us to rectify personal
				    information you think is inaccurate. You also have the right to ask us to complete information you
				    think is incomplete. </li>
				<li class="my-3">Your right to <strong>erasure</strong> - You have the right to ask us to erase your personal
				    information in certain circumstances. NB You can delete your user account from your user page.</li>
				<li class="my-3">Your right to <strong>restriction of processing</strong> - You have the right to ask us to restrict
				    the processing of your personal information in certain circumstances. </li>
				<li class="my-3">Your right to <strong>object to processing</strong> - You have the the right to object to the
				    processing of your personal information in certain circumstances.</li>
				<li class="my-3">Your right to <strong>data portability</strong> - You have the right to ask that we transfer the
				    personal information you gave us to another organisation, or to you, in certain circumstances.</li>
			</ul>
		
			<p>
				You are not required to pay any charge for exercising your rights. If you make a request, we have one month to respond to you.
			</p>
			<p>
				Please contact us <a href="{{ url_for('contact') }}"><strong>here,</strong> </a> if you wish to make a request.
			</p>
			<hr class="mb-4">
			
			
			<!------------------------------------------>
			<!--               Complain               -->
			<!------------------------------------------>
			
			<h2>How to complain</h2>
			
			<p>
				If you have any concerns about our use of your personal information,
			    you can make a complaint to us <a href="{{ url_for('contact') }}"><strong>here.</strong> </a>
				<br> <br>
				You can also complain to the ICO if you are unhappy with how we have used your data.
				<br> <br>
				The ICO’s address:<br>
				Information Commissioner’s Office<br>
				Wycliffe House<br>
				Water Lane<br>
				Wilmslow<br>
				Cheshire<br>
				SK9 5AF<br>
				<br>
				Helpline number: 0303 123 1113<br>
				ICO website: <a href="https://www.ico.org.uk"><strong>https://www.ico.org.uk</strong></a><br>
			</p>

			<hr class="mb-4">
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Modal form for listing admins                                  -->
<!---------------------------------------------------------------------------------------------------->

<div class="modal fade" id="showAdmins" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Site Admins</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
				These are the current sysadmins and site admins who have access to GDPR protected data.
				
				<ul>
					{% for admin in admins %}
				
						<li class="my-3">
							<img src="{{ admin.email | gravatar }}"
							                 width="40"
									         style="border-radius: 50%;"/>
							{{ admin.name }}
						</li>
				
					{% endfor %}
				</ul>
				
			</div>
		</div>
	</div>
</div>



{% endblock %}