{% extends "base.html" %}

{% block title %}
    <title>ELSR – Cambridge Cycling Club & Café Ride Collective</title>
{% endblock %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Page Header                                                -->
<!---------------------------------------------------------------------------------------------------->

<header id="carousel-header" class="carousel slide masthead" data-ride="carousel" data-interval="3000">

    <!-- Single heading outside the slides -->
    <div class="container-fluid position-absolute top-50 start-50 translate-middle text-center text-white">
        <div class="page-heading">
            <h1>EL Social Rides</h1>
            <h2 class="subheading">The first rule of bike club is...</h2>
        </div>
    </div>

    <!-- Carousel background slides -->
    <div class="carousel-inner">

        {% for i in range(1, 14) %}
        <div class="carousel-item {% if i == 1 %}active{% endif %}">
            <div class="carousel-overlay"
                 style="background-image: url({{ url_for('static', filename='img/page-headers/home-bg' ~ i ~ '.jpg') }})"
                 role="img"
                aria-label="Cyclists on ELSR café ride in Cambridge countryside">
            </div>
            <div class="overlay"></div>
        </div>
        {% endfor %}

    </div>

</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                   JavaScript for Google Maps (one or more cafes)                               -->
<!---------------------------------------------------------------------------------------------------->

{% if GOOGLE_MAPS_API_KEY %}

	<script>
		
		(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
		    key: "{{ GOOGLE_MAPS_API_KEY }}",
		    v: "weekly",
		    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
		    // Add other bootstrap parameters as needed, using camel case.
	    });
		
		
		let map;
		
		async function initMap() {
	        
	        // Request needed libraries.
	        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
	        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
	        
	        /* Define the map view */
	        const map = new google.maps.Map(document.getElementById("map"), {
	            restriction: {
	                latLngBounds: {{ MAP_BOUNDS | tojson }},
	                strictBounds: false,
	            },
	            zoom: 16,
	            center: {{ ELSR_HOME | tojson }},
	            mapId: "7499929d658a3166",
	        });
	
	        /* This is our set of cafes */
			const cafes = {{ cafes | tojson }}
		    
		    // Create an info window to share between markers.
		    const infoWindow = new InfoWindow();
						
	        // Create the markers.
	        cafes.forEach( ({ position, title, color }, i) => {
	            const pin = new PinElement({
	                glyph: `${i + 1}`,
	            });
	            
	            const marker = new AdvancedMarkerElement({
	                position,
	                map,
	                title: `${title}`,
	                content: new PinElement({
	                                background: color,
	                                borderColor: "black",
	                                glyphColor: "black",
	                                scale: 1.5,
								}).element
	            });
	            
	            // Add a click listener for each marker, and set up the info window.
	            marker.addListener("click", ({ domEvent, latLng }) => {
	                const { target } = domEvent;
	                infoWindow.close();
	                infoWindow.setContent(marker.title);
	                infoWindow.open(marker.map, marker);
	            });
	        });
		}
	
		initMap();
	
	</script>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			
			<!------------------------------------------>
			<!--               Who?                   -->
			<!------------------------------------------>
			
			<h2>www.elsr.co.uk &nbsp;<i class="fa-solid fa-people-group"></i> Cambridge Cycling Club & Café Ride Collective </h2>
			<p>
				<strong>Espresso Library Social Rides</strong> are a collective of over 100 cyclists who meet regularly
                for cafe rides in <strong>Cambridge, UK</strong>. There is no club, no membership, no committee and
                almost no hierarchy. Although a small number of riders do most of the organising and lead the rides.
                There is only one rule and that's 'Don't be an arsehole'. Actually, there is another one, no riders
                under 18 unless accompanied by a parent or guardian. There's also something about mudguards in winter...
			</p>

             <p>
                We strive to be inclusive* and encourage new riders to join our rides. Our collective exists to facilitate
                group riding. Anyone can post a ride on the website, we don't care what type, how far or what time it starts.
                We just want people to have fun on bikes. Road, gravel, MTB, unicycle, all are welcome. If you want to start
                arranging Audaxes or multi-day bike packing adventures, that's great, post it on our calendar and see who
                turns up. There's no committee to ask permission of and no committee to tell you it's against the rules. If
                it's on two wheels and you're all over 18, we're cool with it.
            </p>

            <p>
                * Sadly we can't take under 18s as we don't have the safeguarding infrastructure in place.
            </p>
			<hr>
			
			
			<!------------------------------------------>
			<!--               Where?                 -->
			<!------------------------------------------>
			
			<a name="where" ></a>
			<h2>Where do we meet? <i class="fa-solid fa-map-location-dot"></i></h2>
			<p>
				ELSR meet at <a href="{{ url_for('cafe_details', cafe_id=65) }}"><strong>Bean Theory Cafe</strong></a>
				(next door to Mill Works, by the Mill Pond) for the main Weekend group rides. You can access the cafe
				from both Newnham Road or from across Sheep's Green via Mill Lane.
			</p>

			
			<!------------------------------------------>
			<!--                Map                   -->
			<!------------------------------------------>
			
			<div id="map" style="height: 500px">
				{% if not GOOGLE_MAPS_API_KEY %}
					<img src="{{ url_for('static', filename='img/fake_map.jpg') }}">
				{% endif %}
			</div>
			<hr>
			
			
			<!------------------------------------------>
			<!--               What?                  -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Social ride options <i class="fa-regular fa-circle-question"></i></h2>
			<p>
				We then split into groups by pace and destination before starting our regular cafe
			    rides, which are normally around 100 km. Nearly all
			    rides include a stop at a <a href="{{ url_for('cafe_list') }}"><strong>favourite cafe</strong></a>
                for coffee, cake and for the more discerning, a bacon roll.
			    Vegetarian / Vegan options are normally available. You can find details of all our regular stops:
			    <strong><a href="{{ url_for('cafe_list') }}">ELSR Hand Picked Cafe List</a></strong>.
			</p>
		
			<p>If you want to see our groups rides over the past couple of months, you can find them below:</p>
			<ul>
			
				<li class="my-2">
					<i class="fa-solid fa-cog fa-spin fa-xl"></i>
					<a href="{{ url_for('ride_history', group='Doppio') }}"> &nbsp
						<strong>Doppio</strong> Ride History
					</a>
				</li>
			
				<li class="my-2">
					<a href="{{ url_for('ride_history', group='Espresso') }}">
						<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 5s;"></i> &nbsp
						<strong>Espresso</strong> Ride History
					</a>
				</li>
			
				<li class="my-2">
					<a href="{{ url_for('ride_history', group='Decaff') }}">
						<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 10s;"> </i> &nbsp;
						<strong>Decaff</strong> Ride History
					</a>
				</li>
			
				<li class="my-2">
					<a href="{{ url_for('ride_history', group='Mixed') }}">
						<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 8s;"> </i> &nbsp;
						<strong>Mixed</strong> Ride History (Sunday Rides)
					</a>
				</li>
			
			</ul>
			
			<hr>
			
			
			<!------------------------------------------>
			<!--               Join us                -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Fancy joining us? <i class="fa-solid fa-person-biking"></i></h2>
			<p>
				We are super friendly and always welcome new riders. We list routes and ride leaders in the calender:
			    <strong><a href="{{ url_for('weekend') }}">Weekend Ride Schedule.</a></strong> Registered members
				can download the GPX files direct to their phone from the site and push it to Garmin Connect:
				<a href="{{ url_for('gpx_guide') }}"><strong>GPX Download Guide</strong></a>. However, as we normally
				base our rides according to wind direction and weather etc, details won't normally start appearing until
			    Thursday and sometimes the full compliment of rides isn't complete until Friday afternoon /
			    evening. Registered members can configure email alerts, so as soon as a ride is posted a download link
				is sent to them. NB Registration is free and just requires an email address (and you won't receive any
				SPAM from this site).
			</p>
			<p>
                <b>There is no need to 'sign up' in advance </b>(no one does), we just turn up and ride. New riders are welcome
			    to turn up at the meeting point, say hello <i class="fa-regular fa-hand fas-l"></i> and join the rides.
				When you get there just ask someone to point you in the direction of the ride leader, so you can say
				hello <i class="fa-regular fa-hand fas-l"></i>. The ride leader needs to know who is
			    joining the group before they set off, so they know how many are in the group and can check no one has
			    been dropped etc. They may also decide to split the group in two, if the numbers are too large for a
			    single group.
			</p>
			<p>
				Please note that all ELSR riders will be on drop bar road bikes with narrow (25-30mm), road orientated
				tyres. Anyone thinking of joining riding a flat bar hybrid or mountain bike, is advised to join the
				Decaff ride and may well find they struggle to keep up. Road bikes are called 'road' bikes for a reason.
			</p>
			<p>
				Please note, we have a <a href="/static/img/home-photos/kit-list.jpg"><strong>Mandatory Kit</strong></a> list for
				all riders joining one of our group rides. Failing that, stuff to repair an inner tube or tubeless tyre
				and a pump will probably suffice.
			</p>
			<hr>
			
			
			<!------------------------------------------>
			<!--               Saturday               -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Saturday rides - the main event</h2>
			<p>
				The main event is on Saturday morning. Depending on numbers, there will be anything from one to five
			    groups departing. We normally strive to have three routes planned:
			</p>
			
			<ul>
				<li class="my-3">
					<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 10s;"> </i> &nbsp;
					<strong>Decaff</strong> - 100 km at <strong>26 kph</strong>, chatty pace, rides as one group, no one will be dropped.
                                              Will split into two groups if too large.</li>
				<li class="my-3">
					<i class="fa-solid fa-cog fa-spin fa-xl" style="--fa-animation-duration: 5s;"></i> &nbsp
					<strong>Espresso</strong> - 100 km at <strong>28-30 kph</strong>, no drop ride, will regroup after drags, hills etc.
				                              Will split into two groups if too large.</li>
				<li class="my-3">
					<i class="fa-solid fa-cog fa-spin fa-xl"></i> &nbsp
					<strong>Doppio</strong> - 100km at <strong>30-33 kph</strong> with plenty of surging, theoretically 'no drop', but
				                            the number arriving at the cafe is always less than that which started!
				                            Will split into two groups if too large.</li>
			</ul>
			
			<p>
				You can see the upcoming rides:
				<a href="{{ url_for('weekend') }}"><strong>Weekend Ride Schedule</strong></a>. NB Ride
			    details normally start appearing around Thursday / Friday of each week.
			</p>
			<p>
			    Normal start time for all Saturday rides is <strong>8.00am</strong>, but please check the start time
			    for each ride (in the link above), as occasionally some rides will start earlier or later.
			</p>

			
			<!------------------------------------------>
			<!--               Sunday                 -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Sunday ride - single group</h2>
			<p>Sunday normally has a smaller turnout with a single group riding at between Decaf and Espresso pace.</p>
			<p>
				You can see the upcoming rides for this weekend:
				<a href="{{ url_for('weekend') }}"> <strong>Weekend Ride Schedule</strong></a>. NB Ride
			    details normally start appearing around Thursday / Friday of each week.
			</p>
			<p>
			    In the winter, our Sunday rides start a little later at <strong>9.00am</strong>, but please check the
			    start time for each ride (in the link above), as occasionally some rides will start earlier or later.
			</p>
			<hr>
			
			
			<!------------------------------------------>
			<!--               Chaingang              -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Thursday night Chaingang / Paceline <i class="fa-solid fa-link"></i></h2>
			<p>
				For those of you who missed out on a UCI Pro-team contract this year, we have the next best thing.
			    From late March till September, there is also a Chaingang. Details:
				<a href="{{ url_for('chaingang') }}"><strong>Thursday Night Chaingang</strong>.</a>
			</p>
			<hr>
			
			
			<!------------------------------------------>
			<!--               Socials                -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Socials <i class='fas fa-solid fa-champagne-glasses'></i></h2>
			<p>
				We have monthly social gatherings in local drinking establishments. The aim is to use alcohol to
			    dilute the EPO in our blood to such an extent that we can all pass WADA drug tests.
			    Details: <a href="{{ url_for('display_socials') }}"><strong>Socials Schedule</strong>.</a>
			</p>
			<hr>
			
			
			<!------------------------------------------>
			<!--               Gravel                 -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Gravel and Gravel Packing <i class="fa-solid fa-campground"></i></h2>
			<p>
				We have quite a few decent bridleways and gravel trails in the region, more info:
				<a href="{{ url_for('gravel') }}"><strong>Cambridge Gravel Trails</strong>.</a>
			</p>
			<hr>
			
			<!------------------------------------------>
			<!--               Blog                   -->
			<!------------------------------------------>
			
			<h2 class="mt-3">What else do we get up to? <i class="fa-brands fa-microblog"></i></h2>
			<p>
				We are a fairly eclectic bunch with a wide variety of cycling related interests, you can see some
				of the activities we get up to on our blog:
				<a href="{{ url_for('display_blog') }}"><strong>ELSR Blog</strong>.</a>
			</p>
			<hr>
			
			<!------------------------------------------>
			<!--               Club Kit               -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Team Kit <i class="fa-solid fa-shirt"></i></h2>
			
			<img class="mt-2" src="{{ url_for('static', filename='/img/home-photos/riders_in_elsr_kit.jpg') }}"
			     style="width: 100%; border: 4px solid #000;" alt="ELSR Team Kit Jersey">
			<p>
				Want to look amazing on the bike? We have ELSR branded kit in both men's and women's fit:
				<a href="{{ url_for('club_kit') }}"><strong>Team Kit</strong></a>.
			</p>
			<hr>
			
			
			<!------------------------------------------>
			<!--            Classifieds               -->
			<!------------------------------------------>
			
			<h2 class="mt-3">Classifieds <i class="fa-solid fa-store"></i></h2>
			<p>
				You can now buy and sell bike parts, bikes, clothing, pretty much anything you want on our
				classifieds page: <a href="{{ url_for('classifieds') }}"><strong>Classifieds</strong>.</a>
			</p>
			<hr>
			
			<!------------------------------------------>
			<!--               Website                -->
			<!------------------------------------------>
			
			<h2 class="mt-3">About &nbsp; <i class="fa-brands fa-chrome"></i></h2>
			<p>
				This website aims to make organising group rides, from Cambridge UK, as easy as possible. The site
                archives GPX route files (over 400), details of cycle friendly cafes and a calendar of scheduled group rides.
                It is fully editable, just sign up via email, and add cafes and GPX files to the database.
			</p>
			<p>
				If you're curious as to how this site works, you can find out here:
				<a href="{{ url_for('about') }}"><strong>Site Implementation.</strong></a>
			</p>

			
			<!------------------------------------------>
			<!--             Register                 -->
			<!------------------------------------------>
			
			{% if not current_user.is_authenticated %}
				<a class="btn btn-primary" href="{{ url_for('register') }}" role="button"
				   aria-expanded="false" aria-controls="collapseExample">
	                   Register
	            </a>
			{% endif %}
			
			<!-- Break before footer -->
			<hr>
			
		</div>
	</div>
</div>


{% endblock %}
