{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/plan-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Planning a ride</h1>
					<span class="subheading">How to plan a ride...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning text-center">
	{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>So, you want to lead a ride..</h2>
			<p>In which case, you will need a route. Thankfully, this site makes it really simple to find one.</p>
			
			<h2>Step 1: Check the wind direction</h2>
			
			<p>The unwritten rule is '<b>tail wind on the return leg</b>', so you need to look at the
			   weather forecast for the day of the ride and see which way the wind is blowing..</p>
			
			<p>E.g. In this example, the wind is blowing towards the East / North East, so ideally, you
			   want a route which heads out West / South West.</p>
			
			<img class="img-fluid" src="{{ url_for('static', filename='img/route-plan-wind.jpg')}}">
			
			<p>Source: <a href="https://www.bbc.co.uk/weather/2653941">BBC Weather</a></p>
			
			<p>NB If the wind speed is below 6 mph, it probably doesn't really matter and just pick a
			   cafe you've not visited for a while.</p>
						
			<hr>
			
			<h2>Step 2: Pick a cafe</h2>
			
			<p>In our example, we're looking for a cafe SW / W of Cambridge. Look at the list of cafes
			   on this
			   site to see what options you have e.g. in our example below, all the cafes circled would
			   have a tail
			   wind on the return leg to Cambridge.</p>
			
			<img class="img-fluid" src="{{ url_for('static', filename='img/route-plan-cafe.jpg')}}"
			     width="600" height="400">
			
			<p>Source: <a href="{{ url_for('cafe_list')}}">ELSR cafe list</a></p>
			
			<p>Read the cafe details on this site and pick a cafe which is suitable for the size of
			   group and the
			   anticipated weather. Some cafes have limited indoor seating or no heating, so aren't very
			   suitable
			   for cold or wet rides.</p>
						
			<hr>
			
			<h2>Step 3: Pick a route</h2>
			
			<p>Once you've picked a cafe, go to the cafe page and look at the available routes which
			   pass by that cafe. </p>
			<p>When deciding on a route, check the length is suitable for your group
			   and that the target cafe is roughly halfway round the route (or a bit over eg 60km
			   along a 100km route).</p>
			
			<hr>
			
			<h2>Step 4: You're all set</h2>
			
			<p>Download the GPX file from this site and upload to your bike computer and away you go:
				<a href="{{ url_for('gpx_guide')}}"><strong>GPX Download Guide</strong></a>.
			</p>
						
			<!-- Break before next section / footer -->
			<hr>
		
		</div>
	</div>
</div>


{% endblock %}
