{% extends "base.html" %}

{% block title %}
    <title>ELSR Website Implementation Details</title>
{% endblock %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/about-bg.jpg') }})"
		alt="Cyclists in snow">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>I want the truth!</h1>
					<span class="subheading">You can't handle the truth...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<p>
				I was bored, so I decided to learn Python. After a bit of googling I came across
				<img src="{{ url_for('static', filename='img/about-icons/Udemy_icon.png')}}"
				                      width=25
									  alt="Udemy Logo">
				Udemy courses and
			    picked their highest rated Python course:
			    <a class="link-info" href="https://www.udemy.com/course/100-days-of-code/">
				   <i class="fa fa-external-link fa-2xs"></i> <strong>100 Days of Code</strong>
			    </a>
			    by
				<a href="https://uk.linkedin.com/in/angela-yu1">
					<i class="fa fa-external-link fa-2xs"></i> <strong>Angela Yu</strong>
				</a>.
			    So, for a colossal outlay of £15.99, I started learning Python. The course was excellent and had a good
			    chunk, maybe 20 days, focussed on designing and building websites using Flask / Jinja and the
			    Bootstrap frameworks. After going through all this, I decided I
			    needed a project to consolidate everything on, so I wrote this website from scratch.
			</p>
			
			<p class="mb-2">So, what does this website use?</p>
			
			<ul>
		
				<!-- Google Cloud -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/google_cloud_icon.png')}}"
				                      width=40
									  alt="Google Cloud Logo">
					The site is hosted on an
					<a href="https://cloud.google.com/compute/docs/general-purpose-machines#e2_machine_types">
						<i class="fa fa-external-link fa-2xs"></i> <strong>E2 series</strong>
					</a>
					<a href="https://cloud.google.com/compute">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Virtual Machine</strong>
					</a> in the
					<a href="https://cloud.google.com/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Google Cloud</strong>
					</a> at their London
				    <a href="https://www.google.co.uk/about/datacenters/">
					    <i class="fa fa-external-link fa-2xs"></i> <strong>Data Center</strong>
				    </a>, which forms part of Google zone
					<a href="https://dgtlinfra.com/google-cloud-data-center-locations/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Europe-West 2c.</strong> </a>
					The cost is currently approx £35 / month. See chart for a breakdown:
					<a href="{{ url_for('static', filename='img/about-icons/cloud_costs_sep_ 2023.jpg') }}">
						<strong>Cost breakdown for Sep 2023.</strong>
					</a>
					NB The costs in the chart are before various discounts and taxes. The discounts reduce
					it by about 25% as the map loads seem to be free for now.
				</li>
				
				<!-- Linux -->
				<li class="my-4">
					<img src="{{ url_for('static', filename='img/about-icons/linux_icon.png')}}"
					     width=100 alt="Linux Logo">
					<img src="{{ url_for('static', filename='img/about-icons/ubuntu_icon.png')}}"
					     width=100 alt="Ubuntu Logo">
					The virtual machine runs Linux (Ubuntu Server flavour) as an operating system.
				</li>
				
				<!-- Nginx -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/nginx_icon.png')}}"
				                      width=100 alt="Nginx Logo">
					This website uses NGINX as a reverse proxy and file server. A reverse proxy is the process which
					handles your incoming requests, to the server, and decides what to do with them. In most cases it
					will just pass your request on to Gunicorn, but for files (e.g. css, js, jpg, etc) it also acts as
					a file server, serving the files direct. Downloading GPX files is handled by Gunicorn as they are
					restricted (you have to be logged in). There's an excellent guide to setting this all up:
					<a href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Flask / Gunicorn / Nginx.</strong>
					</a>
				</li>
				
				<!-- HTTP/2 -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/http2_icon.png')}}"
				                      width=100 alt="HTTP/2 Logo">
					ELSR is served using <a href="https://en.wikipedia.org/wiki/HTTP/2">
						<i class="fa fa-external-link fa-2xs"></i> <strong>HTTP/2</strong></a>, which is the latest
					revision of the HTTP protocol and increases the speed at which web pages are served over the
					internet. You can test websites for HTTP/2 compatibility using an online
					<a href="https://tools.keycdn.com/http2-test">
						<i class="fa fa-external-link fa-2xs"></i> <strong>HTTP/2 Tester</strong>.
					</a>
					Configuring NGINX to use HTTP/2 is absolutely trivial e.g.
					<a href="https://www.tutorialspoint.com/how-to-enable-http2-0-in-nginx">
						<i class="fa fa-external-link fa-2xs"></i> <strong>NGINX and HTTP/2</strong>.
					</a>
				</li>
				
				<!-- Python -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/python_icon.png')}}"
				                      width=40 alt="Python Logo">
					<a href="https://www.python.org/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Python</strong>
					</a> as the underlying back end language. The website runs in a
					<a href="https://realpython.com/python-virtual-environments-a-primer/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Virtual Python Environment</strong>
					</a> on a virtual machine. That's a lot of virtualness...
				</li>
				
				<!-- JavaScript -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/javascript-logo.png')}}"
				                      width=40 alt="Javascript Logo">
					<a href="https://www.javascript.com/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>JavaScript</strong>.
					</a>
					Initially the site was mainly written in Python, using a few Javascript frameworks, eg BootStrap.
					However, I'm now porting more and more functionality to the client in JavaScript and away from
					the server side and Python. This is because you get a better user experience with a more intelligent
					client. E.g. Take the <a href="{{ url_for('add_ride') }}"> <strong>Add Ride Form</strong>,</a>
					originally you filled out the form, posted it back to the server where Python would validate the
					content and if there were any issues found, the form would be served back to you for correction.
					This is the standard HTML model. However, with JavaScript, the validation can take place in the
					browser, and now you can't actually submit an invalid form. Form completion is also sped up
					e.g. as soon as you pick a date from the calendar, the start time and location auto complete.
				</li>
				
				<!-- Gunicorn -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/gunicorn_icon.png')}}"
				                      width=80 alt="Gunicorn Logo">
					This website uses
					<a href="https://gunicorn.org/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Gunicorn</strong>
					</a> as an application server (the thing which serves the webpages).
					If you want to know how to fine tune Gunicorn threads and workers, there is a guide
					<a href="https://medium.com/building-the-system/gunicorn-3-means-of-concurrency-efbb547674b7">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Gunicorn Concurrency.</strong></a>
					If you're interested this website is configured to use five servers.
					
				</li>
				
				<!-- Flask-->
				<li class="my-4">
					<img src="{{ url_for('static', filename='img/about-icons/flask_icon.png')}}"
					     width=90 alt="Flask Logo">
					<a href="https://flask.palletsprojects.com/en/2.3.x/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Flask</strong>
					</a> as the micro framework backend for the website. There is an epic free course on building
					     Flask websites online
					<a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Flask Mega Tutorial.</strong>
					</a>
				</li>
				
				<!-- Jinja -->
				<li class="my-4">
					<img src="{{ url_for('static', filename='img/about-icons/jinja_icon.png')}}"
					     width=110 alt="Jinja Logo">
					<a href="https://jinja.palletsprojects.com/en/3.1.x/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Jinja</strong>
					</a>
					as the html templating engine. Most of the web pages you see are created on the fly by taking a
					pre-defined template page and the contents from a database and merging the two together. Jinja is
					a scripting language which enables content insertion into html template pages. Two very
					useful tips were
					<a href="https://stackoverflow.com/questions/49563777/how-do-i-use-a-global-variable-in-jinja2-using-namespace-class">
						<i class="fa fa-external-link fa-2xs"></i> <strong>namespaces</strong>
					</a> and
					<a href="https://stackoverflow.com/questions/62167968/how-use-python-function-in-flask-jinja2-template?noredirect=1&lq=1">
						<i class="fa fa-external-link fa-2xs"></i> <strong>accessing Flask functions</strong>
					</a>
					from within Jinja.
				</li>
				
				<!-- Bootstrap -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/bootstrap_icon.png')}}"
				                      width=50 alt="Bootstrap Logo">
					Responsive CSS / Javascript styling from
					<a href="https://getbootstrap.com/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Bootstrap</strong>
					</a>. This is how the website dynamically adapts to the screen size e.g. for mobiles etc. If you
					narrow or widen your browser window and see content move around, that's Bootstrap's javascript
					running in your browser.
				</li>
		
				<!-- Fontawesome -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/font_awesome_icon.png')}}"
				                      width=40 alt="Fontawesome Logo">
					Fancy font icons from
					<a href="https://fontawesome.com/"><i class="fa fa-external-link fa-2xs"></i>
						<strong>Font Awesome</strong>
					</a>, the man on a bike comes from
					<a href="https://fontawesome.com/icons/person-biking?f=classic&s=regular">
						<i class="fa fa-external-link fa-2xs"></i>
						<strong>Person Biking.</strong>
					</a>
					Free for up to 50,000 page impressions a month.
				</li>
		
				<!-- Google fonts-->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/google_fonts_icon.png')}}"
				                      width=50 alt="Google Fonts Logo">
					Website fonts from
					<a href="https://fonts.google.com/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Google Fonts</strong>
					</a> (totally free). This site uses <a href="https://fonts.google.com/specimen/Lora">
						<i class="fa fa-external-link fa-2xs"></i> <strong style="font-family:lora">Lora</strong>
					</a>,
					<a href="https://fonts.google.com/specimen/Open+Sans">
						<i class="fa fa-external-link fa-2xs"></i> <strong style="font-family:open sans">Open Sans</strong>
					</a> and
					<a href="https://fonts.google.com/specimen/Roboto">
						<i class="fa fa-external-link fa-2xs"></i> <strong style="font-family:Roboto">Roboto</strong>
					</a> for the tables.
				</li>
		
				<!-- SQL -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/Postgresql_elephant.svg.png')}}"
				                      width=40 alt="SQL Logo">
                    All the data is stored in a <strong>PostgreSQL</strong> database, using
					<a href="https://www.sqlalchemy.org/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>SQLAlchemy</strong>
					</a>
					as the Python interface. Total overkill, but we use PostgreSQL at work, so it's simpler to only
                    have to maintain one type of database.
				</li>
		
				<!-- Forms -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/flask_forms_icon.png')}}"
				                      width=40 alt="Flask Forms Logo">
					Web forms are handled using
					<a href="https://hackersandslackers.com/flask-wtforms-forms/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Flask-WTF.</strong></a>
					They make it very really trivial to build web forms, normally just a single html reference!
				</li>
				
				<!-- Werkzeug -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/werkzeug_icon.webp')}}"
				                      width=120 alt="werkzeug Logo">
					Password salting and hashing using
					<a href="https://werkzeug.palletsprojects.com/en/2.3.x/utils/#module-werkzeug.security">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Werkzeug Utilities.</strong>
					</a>
					Salting makes the password hashes completely useless, to a hacker, as even if you use the same
					passwords on all websites, the hashes will be completely different on every site, so a hacker can't
					make any use of the information.
				</li>
		
				<!-- Google Maps -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/google_maps_icon.png')}}"
				                      width=40 alt="Google Maps Logo">
					Google Map plugins using
					<a href="https://developers.google.com/maps">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Google Maps API.</strong>
					</a> I'll probably swap this out for
					<img src="{{ url_for('static', filename='img/about-icons/osm_icon.jpg')}}"
					     width=40 alt="OSM Logo">
					<a href="https://www.openstreetmap.org">
						<i class="fa fa-external-link fa-2xs"></i>
						<strong>OSM</strong>
					</a>
	                 as it costs me £0.003 everytime you see a map.
				</li>
				
				<!-- Gpxpy -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/gpx_icon.png')}}"
				                      width=50 alt="GPX Logo">
					GPX file parsing is done using
					<a href="https://pypi.org/project/gpxpy/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>gpxpy.</strong>
					</a>
					The library makes it very easy to scan the data in the file and work out how close each route
					passes all the cafes in the database.
				</li>
				
				<!-- Beautiful Soup -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/beautiful_soup_icon.png')}}"
				                      width=150 alt="Beautiful Soup Logo">
					Strava chaingang leader board web-scraped using
					<a href="https://www.crummy.com/software/BeautifulSoup/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Beautiful Soup.</strong>
					</a>
				</li>
				
				<!-- Images -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/flickr_icon.png')}}"
				                      width=70 alt="Flickr Logo">
					Most of the background images are my own, although I might have stolen one or two from the internet.
				</li>
				
				<!-- Pillow -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/pillow_icon.png')}}"
				                      width=120 alt="Pillow Logo">
					Uploaded photo images are often quite large, especially from phones, (e.g. 3-5 Mbytes) which
					are then slow for other users to download. Uploaded images are shrunk using
					<a href="https://python-pillow.org/">
						<i class="fa fa-external-link fa-2xs"></i>
						<strong>Python Pillow.</strong>
					</a>
					The shrunken size is 150 kB, which is fine for using as a background image and
					about the same size as when you share a photo via WhatsApp.
				</li>
				
				<!-- Chart.js -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/chartjs_icon.png')}}"
				                      width=45 alt="ChartJS Logo">
					Elevation graphs, for each of the GPX routes, are generated using
					<a href="https://www.chartjs.org/docs/3.3.2/">
						<i class="fa fa-external-link fa-2xs"></i>
						<strong>Chart.js.</strong>
					</a>
				</li>
				
				<!-- dataTables.js -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/datatables_icon.png')}}"
				                      width=45 alt="Datatables JS Logo">
					Sortable and searchable tables are provided by
					<a href="https://datatables.net">
						<i class="fa fa-external-link fa-2xs"></i>
						<strong>DataTables.</strong>
					</a>
				</li>
				
				<!-- Twillio -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/twilio_icon.png')}}"
				                      width=120  alt="Twilio Logo">
					Two Factor Authentication (2FA) and message alert SMSes using
					<a href="https://www.twilio.com/en-us">
						<i class="fa fa-external-link fa-2xs"></i>
						<strong>Twilio.</strong>
					</a>It costs me approx. 4p per SMS message sent. All Admin accounts are protected by 2FA.
				</li>
				
				<!-- Gravatars -->
				<li class="my-4"><img src="/static/img/about-icons/Blake_et_Mortimer.jpg"
		                              width="50" style="border-radius: 50%;" alt="Blake et Mortimer"/>
					Fancy user avatars, for logged-in users, from
					<a href="https://gravatar.com/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Gravatar.</strong>
					</a>
                    Mine is "Blake et Mortimer" stolen from their
					<a href="https://www.facebook.com/blake.mortimer.officiel">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Blake et Mortimer FB page.</strong>
					</a>
				</li>
				
				<!-- Domain -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/google_domains_icon.png')}}"
				                      width=30 alt="Google Domains Logo">
					Domain courtesy of
					<a href="https://domains.google/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Google Domains</strong>,
					</a>
                    a whole £10 for "elsr.co.uk". Although, recently SquareSpace has taken over Google Domains.
				</li>
		
				<!-- Sentry -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/sentry_icon.png')}}"
				                      width=30  alt="Sentry Logo">
					Site diagnostics and real time performance data courtesy of
					<a href="https://sentry.io/welcome/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Sentry.</strong>
					</a>
				</li>
			
				<!-- Stack overflow -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/stackoverflow_icon.png')}}"
				                      width=140 alt="Stack Overflow Logo">
					Obviously I got stuck many, many times getting this all working and spent many days trawling
					<a href="https://stackoverflow.com/">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Stack overflow</strong>
					</a> desperately searching for answers to whatever it was I'd screwed up that particluar day!
				</li>
				
				<!-- GitHub Code Scanning -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/github_icon.png')}}"
				                      width=100 alt="Github Logo">
					The code for this website was scanned, for free, by
					<a href="https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Git Hub security scanning tools,</strong>
					</a>which found quite a few vulnerabilities which hopefully I've fixed by the time you read this.
					The complete source code is on Github, you can take a look
					<a href="https://github.com/footflaps/ELSR-Website">
						<i class="fa fa-external-link fa-2xs"></i> <strong>ELSR on Github.</strong>
					</a>
				</li>
				
				<!-- Fail2Ban -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/fail2ban_icon.png')}}"
				                      width=50 alt="Fail2Ban Logo">
					As soon as you put a site on the internet, 100s of robots start probing it, looking for known
					vulnerabilities	in software packages. They're pretty stupid, I get dozens of attacks on Microsoft
					Exchange servers every day, even though I'm not hosting one. However, they now all get blocked by
					<a href="https://www.fail2ban.org/wiki/index.php/Main_Page">
						<i class="fa fa-external-link fa-2xs"></i> <strong>Fail2Ban,</strong>
					</a>which looks for servers trying it on and blocks their IPs.
					If you want to see someone probing the site, trying to find the right webpage for admin access:
					<a href="{{ url_for('static', filename='img/about-icons/hacking_attempt.jpg') }}">
						<strong>Site Probing.</strong>
                    </a>
				</li>
				
				<!-- Backups -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/google_cloud_icon.png')}}"
				                      width=40 alt="Google cloud Logo">
					Disaster recovery. In the event someone does manage to hack the site and take it down, the
					server is automatically
					<a href="https://cloud.google.com/compute/docs/disks/create-snapshots">
						<i class="fa fa-external-link fa-2xs"></i> <strong>snapshoted</strong>
					</a>
					once a week by Google and the images are stored somewhere else in the
					Google Cloud, so restoring the site shouldn't be too difficult! Famous last words...
				</li>
				
				<!-- Chrome -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/chrome_logo2.png')}}"
				                      width=40 alt="Chrome Logo">
					Chrome. This website was developed and tested using Google's Chrome browser. Chrome is by far the
					best browser for developers and also the dominant browser for users, both on desktop and mobile.
					It's market share is quite impressive:
					<a href="{{ url_for('static', filename='img/about-icons/BrowserUsageShare.png') }}">
						<img src="{{ url_for('static', filename='img/about-icons/BrowserUsageShare.png')}}"
				             width=400 alt="Browser Market Share">
					</a>
					<br>Source:
					<a href="https://commons.wikimedia.org/w/index.php?curid=89986636">
						<strong>By StatCounter - OpenOffice Calc, Public Domain</strong>
					</a><br>
					What is even more impressive is that after being completely defeated by Google, Microsoft abandoned
					their own browser development and now just re-badge Chrome's open source rendering engine as 'Edge'.
					So when you're using Microsoft Edge, you're actually just using Chrome with a different wrapper.
					It's not often a tech giant get's KO'ed and then throws in the towel completely.
				</li>
				
				
				<!-- SEO -->
				<li class="my-4"><img src="{{ url_for('static', filename='img/about-icons/lighthouse-logo.png')}}"
				                      width=45 alt="Lighthouse Logo">
					Site Optimisation. Google's Chrome browser has an amazing built in developer tool, called
					<a href="https://developer.chrome.com/docs/lighthouse/overview/">
						<i class="fa fa-external-link fa-2xs"></i>  <strong>Lighthouse</strong>,
					</a>which will scan any website and analyse it for quality of structure. It can't tell if the content
					is any good, but it can tell you if the site is well-designed and implemented from a HTML point
					of view. It can also tell you how easy it is for search engines to understand your site when they
					are crawling it (discovering the content).
					<br>
					You can see the scores for the Home page, below, for Desktop:
					<br>
					<img src="{{ url_for('static', filename='img/about-icons/ELSR_Lighthouse_Desktop.png')}}"
				                      width=400 alt="Google cloud Logo">
					<br> And also for mobile: <br>
					<img src="{{ url_for('static', filename='img/about-icons/ELSR_Lighthouse_Mobile.png')}}"
				                      width=400 alt="Google cloud Logo">
					<br>Some work to be done shrinking image sizes for faster loads on low quality mobile connections.
					
				</li>
				
			</ul>
			
			<hr>
			
		</div>
	</div>
</div>




{% endblock %}
