{% extends "base.html" %}

{% block title %}
    <title>ELSR - Tim's Turbo Training Sessions</title>
{% endblock %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/page-headers/turbo-sessions-bg.jpg')}}')"
		alt="The bench">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Tim's Turbo Sessions</h1>
					<span class="subheading">Like the John Peel Sessions, only with more sweat..</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Introduction                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>Structured Turbo Training with Tim Williams</h2>
			
			<p>
				Structured, weekly, turbo training sessions, throughout the darker months. Organised by
				<a href="https://perfectcondition.co.uk/about-me/"><strong>Tim Williams</strong></a> on behalf of the
				<a href="https://www.cambridgetriathlonclub.com/"><strong>Tri Club</strong></a>, but open to all.
				Cambridge is such a small place, you'll recognise most of the attendees!
			</p>
			
			<h2>Details</h2>
			
			<p><i class="fa-solid fa-quote-left"></i>
				For many years these sessions took place in hall with up to 40 people packed in ranging from
				professional cyclists and triathletes to complete novices, and from juniors to veterans.
				They were noisy, energetic, sweaty and steamy!  They started before the days of electric turbos,
				let alone smart turbos, and there were few gyms with spinning bikes. They were the highlight of the
				winter, the place to be.
			</p>
			<p>
				We moved the sessions to Zoom during the pandemic and found that they worked surprisingly well.
				It's more time efficient for most and doesn't involved lugging a bike and a turbo across town on a
				dark night.  In fact, it's such a good idea that Peloton copied it!  Apparently. Of course the down
				side of online is that it's not as visceral. Keeping going is easier when you can see and hear everyone
				else around you keeping going.  And it's not such an interactive environment.  The old style sessions
				were a great introduction to the Club as well as great way for newcomers to get their cycling up to speed.
			</p>
			<p>
				However the content of the on-line sessions is just the same and they are not only excellent training
				but a great way to learn how to train effectively.  Stationary cycling is probably the most controlled
				and controllable environment for cardio vascular endurance training.<i class="fa-solid fa-quote-right"></i>
			</p>
			
			<h2>When</h2>
			<p>
				The sessions are on <strong>Tuesday evenings</strong> at <strong>7pm</strong> with the first 15 minutes
				or so being warm up time, followed by a one hour session.
				They are progressive, with the workload increasing over the weeks. Of course you can do as much or as
				little work as you like, but the sessions should not leave you exhausted - at least not for the first
				few months.
			</p>
			
			<h2>What do you need?</h2>
			<p>
				The only requirement is a turbo trainer or an exercise bike and a Zoom connection.  It's better if
				everyone is on camera but that's not obligatory. Some people do the session in Watopia.  If you know
				what I'm talking about you're welcome do that.
			</p>
			<p>
				The sessions continue until the end of March when the clocks change.  Whilst it's probably better to
				start at the beginning and to get into the habit of joining in each week, you can Zoom in any time.
			</p>
			
			<h2>Zoom Link</h2>
			
			{% if current_user.is_authenticated %}
			
				<p>Join via this link:
					<a href="https://us02web.zoom.us/j/87988955184?pwd=UGFYSWxuSUZveXMyVldub0wxZkNHZz09">
						<strong>Turbo Session Zoom Link</strong>
					</a>
				</p>
			
				<p>
					Sessions are currently <strong>free</strong> for non Tri-club members, also this might change at
					some point.
				</p>
			
			{% else %}
			
				<p style="color: red">
					Please log in to see Zoom link.
				</p>
			
			{% endif %}
			
			<hr>
			
		</div>
	</div>
</div>



{% endblock %}