{% extends "base.html" %}


{% block content %}

<!-- Add import for bootstrap wtf quickform support -->
{% import "bootstrap/wtf.html" as wtf %}




<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/club_kit/v2/club-kit-v2-banner.jpg')}}')"
		alt="ELSR Team Jersey">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>2024 Team Kit</h1>
					<span class="subheading">The best dressed cyclists in town...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                           Intro                                                -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>2024 ELSR Team Kit</h2>
			
			<p>
				We have brand new 2024 team kit available to order in the next week or two. If you want to try sample
                kit to find your size, we have a sample session in the Calendar
				<a href="{{ url_for('social', date='08102024') }}"><strong>Sample Session.</strong></a>
				Failing that, you can see the size charts here:
                <a href="https://www2.bioracer.com/en/size-charts/"><strong>Bioracer size charts</strong>.</a>
			</p>

			<p>
			    Order details will appear in the next week or two.
			</p>
            <hr>

   		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                           Legacy Kit                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

            <h2>Legacy kit:</h2>
            <p>
                If you are looking for details on previous year's kit, see links below.
            </p>
            <ul>
                <li><b><a href={{ url_for("club_kit_v1") }}>2023 Tactic Kit</a></b></li>
            </ul>
            <hr>
			
		</div>
	</div>
</div>



<!---------------------------------------------------------------------------------------------------->
<!--                                           Size form                                            -->
<!---------------------------------------------------------------------------------------------------->

{% if current_user.is_authenticated %}

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			
				<h2 class="float-left">Save your size</h2>

				<!-- Button to expose hidden table -->
				<a class="btn btn-primary float-right"  data-toggle="collapse" href="#collapseSizes"
				   role="button" aria-expanded="false" aria-controls="collapseExample" id="show_sizes">
	                   SHOW
	            </a>
					
				
			</div>
		</div>
		
		<!-- Collapsed / Hidden table -->
		<div class="collapse" id="collapseSizes">
			<div class="row mt-3">
				<div class="col-lg-8 col-md-10 mx-auto">
					
					<!-- Load ckeditor -->
					{{ ckeditor.load() }}
			
					<!-- This is where the form will go -->
					{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
					
					<!--  Configure the ckeditor to tell it which field in WTForm will need to be a CKEditor. -->
					{{ ckeditor.config(name='notes') }}
					
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
		
				<hr>
				
			</div>
		</div>
	</div>

	<script>
		
		/* Hide <-> Show buttons name change */
		$("#collapseSizes").on("show.bs.collapse", function(){
            document.getElementById('show_sizes').innerHTML = 'HIDE';
        });
       $("#collapseSizes").on("hide.bs.collapse", function(){
            document.getElementById('show_sizes').innerHTML = 'SHOW';
        });
		
	</script>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      SS Jersey                                                 -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>Short Sleeve Jersey</h2>
			<p>There are four short sleeve jersey variants and two colourways (Black and Coral):</p>

            <ul>
				<li>
					Men's Epic SS <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/41040/slug_en">
					<strong>Epic SS Jersey Details.</strong></a>
				</li>

                <li>
					Men's Icon SS <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/330467/slug_en">
					<strong>Icon SS Jersey Details.</strong></a>
				</li>

				<li>
					Women's Epic SS <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/41041/slug_en">
					<strong>Epic SS Jersey Details.</strong></a>
				</li>
                <li>
					Women's Icon SS <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/332916/slug_en">
					<strong>Icon SS Jersey Details.</strong></a>
				</li>
			</ul>

            <img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/v2/club-kit-v2-banner.jpg') }}"
			     style="width: 100%; border: 4px solid #000;"
				 alt="ELSR SS Jersey">
			Image is men's Icon jerseys.
			<hr>

		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                           LS Jersey                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<h2>Long Sleeve Thermal Jersey</h2>
			<p>There are four long sleeve jersey variants and two colourways (Black and Coral):</p>

            <ul>
                <li>
					Men's Epic LS <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/96114/slug_en"><strong>Epic LS Jersey Details.</strong></a>
				</li>
                <li>
					Men's Icon LS <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/330468/slug_en"><strong>Icon LS Jersey Details.</strong></a>
				</li>

                <li>
					Women's Epic LS <strong>£XX</strong>
{#					Details: <a href=""><strong>LS Cold Day Jersey.</strong></a>#}
				</li>
                 <li>
					Women's Icon LS <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/333139/slug_en"><strong>Icon LS Jersey Details.</strong></a>
				</li>
			</ul>

            {#			<img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/elsr-ls-jersey.jpg') }}"#}
{#			     style="width: 100%; border: 4px solid #000;"#}
{#				 alt="ELSR LS Jersey">#}
{#			Image is men's cut.#}

			<hr>


		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                      Gilets                                                    -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<h2>Gilet</h2>
			<p>There are two gilet variants and two colourways (Black and Coral):</p>
			<ul>
				<li>
					Icon Men's Gilet <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/330481/slug_en"><strong>Men's Gilet Details.</strong></a>
				</li>
                <li>
					Icon Women's Gilet <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/333178/slug_en"><strong>Women's Gilet Details.</strong></a>
				</li>
			</ul>
{#			<img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/elsr-gilet.jpg') }}"#}
{#			     style="width: 100%; border: 4px solid #000;"#}
{#				 alt="ELSR Gilet">#}
			<hr>

		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                      Bib Shorts                                                -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<h2>Bib shorts</h2>
			<p>There are four bib short variants (Black only):</p>
            <ul>
			    <li>
					Men's Epic <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/344966/slug_en">
					<strong>Epic Bib short Jersey Details.</strong></a>
				</li>

                <li>
					Men's Icon <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/330484/slug_en">
					<strong>Icon Bib short Details.</strong></a>
				</li>

				<li>
					Women's Epic <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/344985/slug_en">
					<strong>Epic Bib short Details.</strong></a>
				</li>
                <li>
					Women's Icon <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/333208/slug_enen">
					<strong>Icon Bib short Details.</strong></a>
				</li>
            </ul>

            Pad Details:
            <ul>
			    <li>
					<a href="https://shop.bioracer.com/cycling-pads-bioracer/#wave">
					<strong>Men's Wave Pad</strong></a>
				</li>

                <li>
					<a href="https://shop.bioracer.com/cycling-pads-bioracer/#vapor">
					<strong>Women's Vapour Pad</strong></a>
				</li>
            </ul>


			<img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/v2/men-icon-bibshort.png') }}"
			     style="width: 100%; border: 4px solid #000;"
			     alt="ELSR Bib Shorts">
			Image is men's Icon.
            <hr>

		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                      Bib Tights                                                -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<h2>Bib Tights</h2>
			<p>There are four bib tight variants (Black only):</p>
            <ul>
			    <li>
					Men's Epic (No Pad) <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/345008/slug_en">
					<strong>Men's Epic (No Pad) Details.</strong></a>
				</li>

                <li>
					Men's Icon (Vapour Pad) <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/330485/slug_en">
					<strong>Men's Icon (Vapour Pad) Details.</strong></a>
				</li>

				<li>
					Women's Epic (No Pad) <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/345033/slug_en">
					<strong>Women's Epic (No Pad) Details.</strong></a>
				</li>
                <li>
					Women's Icon (Vapour Pad) <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/333230/slug_en">
					<strong>Women's Icon (Vapour Pad) Details.</strong></a>
				</li>
            </ul>

{#			<img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/elsr-big-longs.jpg') }}"#}
{#			     style="width: 100%; border: 4px solid #000;"#}
{#			     alt="ELSR Winter Bib Tights">#}

            <hr>

		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                      Accessories                                               -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<h2>Accessories</h2>
			<ul>
			    <li>
					Mid season Bandino <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/4297/slug_en">
					<strong>Mid season Bandino Details.</strong></a>
				</li>

                <li>
					Summer cap <strong>£XX</strong>.
				    Details: <a href="https://www.bioracer.com/en/cycling/team/348526/technical-summer-capn">
					<strong>Summer cap Details.</strong></a>
				</li>

				<li>
					Winter Hat <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/73296/slug_en">
					<strong>Winter Hat Details.</strong></a>
				</li>

                <li>
					Technical Socks <strong>£XX</strong>
					Details: <a href="https://www.bioracer.com/en/cycling/team/205699/slug_en">
					<strong>Technical Socks Details.</strong></a>
				</li>

                <li>
					Arm Warmers <strong>£XX</strong>
				</li>

                <li>
					Leg Warmers <strong>£XX</strong>
				</li>


            </ul>

			<img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/v2/PRJ24-009772_Acc-Bandido_front.jpg') }}"
			     style="width: 100%; border: 4px solid #000;"
			     alt="ELSR Bandino">
            <img class="mt-2" src="{{ url_for('static', filename='/img/club_kit/v2/PRJ24-009772_Acc-Summercap_persp.jpg') }}"
			     style="width: 100%; border: 4px solid #000;"
			     alt="ELSR Summer Cap">

            <hr>

		</div>
	</div>
</div>

{% endblock %}