{% extends "base.html" %}


{% block content %}

<head>
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                Load JavaScript for chart.js                                    -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
</head>


<!---------------------------------------------------------------------------------------------------->
<!--                                     Page Header                                                -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/chaingang_bg.jpg')}})"
		alt="Mad Max Riders">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>EL Chaingang</h1>
					<span class="subheading">There can be only one....</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--             JavaScript for Google Map showing a single GPX plus one of more Cafes              -->
<!---------------------------------------------------------------------------------------------------->

{% if GOOGLE_MAPS_API_KEY %}

	<script>
	
		(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
		    key: "{{ GOOGLE_MAPS_API_KEY }}",
		    v: "weekly",
		    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
		    // Add other bootstrap parameters as needed, using camel case.
	    });
	
			
		let map;
		
		async function initMap() {
	        
	        // Request needed libraries.
	        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
	        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
	        
	        /* Define the map view */
	        const map = new Map(document.getElementById("map"), {
	            restriction: {
	                latLngBounds: {{ MAP_BOUNDS | tojson }},
	                strictBounds: false,
	            },
	            zoom: 12,
	            center: { lat: {{ midlat }}, lng: {{ midlon }} },
	            mapId: "7499929d658a3166",
	        });
	        
	        /* Define our polyline */
	        const flightPath = new google.maps.Polyline({
	            path: {{ polyline }},
	            geodesic: true,
	            strokeColor: "#FF0000",
	            strokeOpacity: 1.0,
	            strokeWeight: 4,
	        });
	
			/* We want a pop up info box for thr GPX route */
			google.maps.event.addListener(flightPath, 'mouseover', function(event) {
	            current_lat = event.latLng.lat();
	            current_lon = event.latLng.lng();
	            
	            // Create a new InfoWindow.
	            gpxInfoWindow = new google.maps.InfoWindow({
	                content: "Route: ELSR Chaingang",
	                position: event.latLng,
	            });
	            
	            gpxInfoWindow.open(map);
			});
	
			/* and close the info box when they move elsewhere */
			google.maps.event.addListener(flightPath, 'mouseout', function() {
	            gpxInfoWindow.close();
			});
	
			/* Add the path to the map */
	        flightPath.setMap(map);
	        
	        /* This is our set of cafes */
			const cafes = {{ cafe_markers | tojson }}
		    
		    // Create an info window to share between markers.
		    const infoWindow = new InfoWindow();
						
	        // Create the markers.
	        cafes.forEach( ({ position, title, color }, i) => {
	            const pin = new PinElement({
	            glyph: `${i + 1}`,
	            });
	            
	            const marker = new AdvancedMarkerElement({
	                position,
	                map,
	                title: `${title}`,
	                content: new PinElement({
	                                background: color,
	                                borderColor: "black",
	                                glyphColor: "black",
								}).element
	            });
	            
	            // Add a click listener for each marker, and set up the info window.
	            marker.addListener("click", ({ domEvent, latLng }) => {
	                const { target } = domEvent;
	                infoWindow.close();
	                infoWindow.setContent(marker.title);
	                infoWindow.open(marker.map, marker);
	            });
	        });
		}
	
		initMap();
	
	</script>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			<h2>Chain what? <i class="fa-solid fa-link"></i></h2>
			<p>Every week, during the summer months, the best of the best meet on a Thursday night for a
			   <s>fight to the death</s> chaingang where they attempt to rip each others legs off in a paceline.
			   Imagine Mad Max on bicycles crossed with Highlander and you're getting pretty close, although
			   technically eye gouging is no longer permitted. If you're still not clear try
			   <a href="http://perfectcondition.ltd.uk/Articles/Drafting2.htm">
				   <i class="fa fa-external-link fa-2xs"></i> this link
			   </a> on Tim William's website (he who organises the Tuesday night town chaingang).
			</p>
			<hr>
			
			
			<h2>Fancy your chances? <i class="fa-solid fa-dice"></i></h2>
			<p>Depending on numbers, there will be several groups based on ability, weight class and fighting
			   style. This way, everyone stands a fair chance and can have a decent session with people of similar
			   ability. Weigh-in commences 15 minutes before the start.
			</p>
			<hr>
			
			
			<h2>Where? <i class="fa-solid fa-map-location-dot"></i></h2>
			<p>The meeting point is the
				<a href="https://threehorseshoesmadingley.co.uk/">
					<i class="fa fa-external-link fa-2xs"></i> Three Horseshoes
				</a>pub in Madingley. The map, below, shows the current course and the meeting point. The route is approx.
				    36 km long and the faster groups will finish in approx. 45 minutes, with slower groups around 65 mins.
			</p>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                Native Google Maps HTML                                         -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			<h2>Map view of route</h2>
			
			<div id="map" style="height: 500px">
				{% if not GOOGLE_MAPS_API_KEY %}
					<img src="{{ url_for('static', filename='img/fake_map.jpg') }}">
				{% endif %}
			</div>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                             Show elevation graph of the route                                  -->
<!---------------------------------------------------------------------------------------------------->


<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="my-3">Elevation view of route</h2>
			
			<div style="height: 300px; width: 100%;">
				<canvas id="myChart"></canvas>
			</div>
			<script>
			
				var custom_icon = new Image();
          
		        const data = {
		            datasets: [
			            {
	                        label: 'Dist (km), Elevation (m)',
	                        pointStyle: 'false',
	                        radius: 0,
	                        tension: 3,
	                        showLine: true,
	                        data: {{ elevation_data | tojson }},
	                        backgroundColor: 'rgb(255, 99, 132)',
	                        borderColor: 'rgb(255, 99, 132)'
	                    },
                    ],
				};

	            const config = {
					  type: 'scatter',
					  data: data,
					  options: {
					        maintainAspectRatio: false,
					        scales: {
					            x: {
					                type: 'linear',
					                position: 'bottom'
					            },
					        },
					        plugins: {
		                       legend: {
	                                display: false
                               }
					        }
					  }
				};
	        
		        
		        const myChart = new Chart(
		            document.getElementById('myChart'),
		            config
		        );
	         
	        </script>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                         Start Times                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>Start time? <i class="fa-regular fa-clock"></i></h2>
			<p>
				The 2025 chaingang starts Thursday 3rd April.
			</p>
			
			<p>Start times vary throughout the year with daylight, for 2025 we have:</p>
			<ul>
				
				<li>18:00 &nbsp;&nbsp;&nbsp;&nbsp;  3rd April, 10th April</li>
				<li>18:30 &nbsp;&nbsp;&nbsp;&nbsp;  All summer</li>
				<li>18:00 &nbsp;&nbsp;&nbsp;&nbsp;  11th & 18th September</li>
				
			</ul>
			
			<p>Please bring front & rear lights all year round.</p>
			
			<!-- Separator before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                        Leader Board                                            -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>Overall Leader board (from Strava)</h2>
			
			<table class="table table-striped table-bordered table-sm table-condensed">
		
				<!-- Header row-->
				<thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Speed</th>
	                    <th scope="col">Time</th>
	                </tr>
                </thead>
		
				<!-- Table rows -->
				<tbody>
					{% for rider in leader_table %}
						
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td scope="row">{{ rider[1] }}</td>
						    <td scope="row">{{ rider[2] }}</td>
							<td scope="row">{{ rider[4] }}</td>
					    </tr>
				
					{% endfor %}
				
				</tbody>
			
			</table>
			
			<p>NB I had wanted to show separate male and female leader boards, but Strava deprecated API access to those
				<a href="https://www.reddit.com/r/Strava/comments/gm5fa5/strava_cuts_off_leaderboard_for_free_users/">
					<i class="fa fa-external-link fa-2xs"></i> in 2020
				</a>, so the website can't easily access them.
			</p>
			
			<!-- Break before footer -->
			<hr>
			
		</div>
	</div>
</div>


{% endblock %}
