{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<!-- Generic photo -->
<header  class="masthead"
         style="background-image: url({{ url_for('static', filename='img/poll-list-bg.jpg') }})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Current Polls</h1>
					<span class="subheading">The burning topics of our age...</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                           List of polls                                        -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2>List of all Polls</h2>
			
			{% if not polls %}
			
				<p>How sad, looks like we don't have anything right now!</p>
			
			{% else %}
			
				<table id="pollTable"
					       class="table table-striped table-bordered table-sm table-condensed"
					       style="width: 100%"
						   data-page-length="25">
					
					<!-- Header -->
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Name</th>
							<th scope="col">Author</th>
							<th scope="col">Finish Date</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
				
					<tbody>
						{% for poll in polls: %}
							<tr>
								<td scope="row">{{ poll.id }}</td>
								<!-- Poll name and hyperlink -->
								<td>
									{% if poll.privacy == "Private" %}
										{% if not current_user.is_authenticated: %}
											<!-- Not logged in -->
											{{ poll.name }}
											<i class="fa-solid fa-user-lock"></i>
										{% elif not current_user.readwrite() %}
											<!-- unTrusted user -->
											{{ poll.name }}
											<i class="fa-solid fa-user-lock"></i>
										{% else %}
											<!-- Trusted user -->
											<a href="{{ url_for('poll_details', poll_id=poll.id) }}">{{ poll.name }}</a>
											<i class="fa-solid fa-user-lock"></i>
										{% endif %}
									{% else %}
										<a href="{{ url_for('poll_details', poll_id=poll.id) }}">{{ poll.name }}</a>
									{% endif %}
								</td>
								
								<td> <img src="{{ poll.email | gravatar }}"
							             width="40"
									     style="border-radius: 50%;"/>  {{ get_user_name(poll.email) }}</td>
								<td>{{ poll.termination_date[0:2] }}/{{ poll.termination_date[2:4] }}/{{ poll.termination_date[4:8] }}</td>
								{% if poll.status == POLL_OPEN %}
									<td>{{ poll.status.upper() }}</td>
								{% else %}
									<td style="color: red"><strong>{{ poll.status.upper() }}</strong></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
			
				</table>
			
				<p>
					<i class="fa-solid fa-user-lock"></i> Private polls are only accessible to validated users.
				</p>
			
			{% endif %}
			
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                           Add a poll                                           -->
<!---------------------------------------------------------------------------------------------------->

{% if current_user.is_authenticated: %}
	{% if current_user.readwrite(): %}
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					
					<a href="{{ url_for('add_poll') }}">
						<button class="btn btn-primary float-right">Add Poll</button>
					</a>
				
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}


<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<hr>
			
		</div>
	</div>
</div>


{% endblock %}


{% block scripts %}

{% endblock %}