{% extends "base.html" %}

<!---------------------------------------------------------------------------------------------------->
<!--                                 Bootstrap WTForm Support                                       -->
<!---------------------------------------------------------------------------------------------------->

{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<!-- Generic photo -->
<header  class="masthead"
         style="background-image: url({{ url_for('static', filename='img/cafe-bg.jpg') }})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>ELSR Polling</h1>
					<span class="subheading">It's just like a General Election!</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                            Show poll                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<div class="card mt-3">
					<div class="card-body">
					
						<!-- Card title -->
						<h3 class="card-title">Poll: {{ poll.name }} </h3>
						<h4 class="card-title">
							Poll ends: {{ poll.termination_date[0:2] }}/{{ poll.termination_date[2:4] }}/{{ poll.termination_date[4:8] }}, Poll is currently
							<strong style="color:red">{{ poll.status }}</strong>
						</h4>
						<h4 class="card-title">Created by:
						    <!-- User Gravatar -->
							<img src="{{ poll.email | gravatar }}"
							         width="40"
									 style="border-radius: 50%;"/>
							{{ get_user_name(poll.email) }}, on
                            {{ poll.created_date[0:2] }}/{{ poll.created_date[2:4] }}/{{ poll.created_date[4:8] }}
						</h4>
						<hr>
						
						<!-- Card body -->
						<h4 class="card-text">Details:</h4>
						{{ poll.details | safe }}
						<hr>
						
						<!-- Card body -->
						<h4 class="card-text">Choose up to
							<strong style="color:red">{{ poll.max_selections }}</strong> options:</h4>
					
						<!-- Warn non logged-in users they need to log in -->
						{% if not current_user.is_authenticated: %}
							<strong style="color:red">Log in to be able to vote</strong>
						{% endif %}
						
						<!-- Iterate over options -->
						{% for option in poll.options_html %}
							
							<!-- Show voting option with button -->
							<div class="mt-5">
								<strong class="float-left">
									<i class="fa-regular fa-circle-dot fa-xl"></i> &nbsp; {{ option }}
								</strong>
								{% if current_user.is_authenticated: %}
									<button class="btn btn-sm btn-primary float-right">VOTE</button>
								{% else %}
									<button class="btn btn-sm btn-dark disabled float-right">LOG IN</button>
								{% endif %}
								<br>
							</div>
						
							<!-- Show existing votes -->
							<div class="my-3">
								
								{% for voter in poll.responses[option] %}
									<img src="{{ voter | gravatar }}"
							         width="40"
									 style="border-radius: 50%;"/>
								{% endfor %}
							
							</div>
						
						{% endfor %}
						
					</div>
				</div>
			
			<hr>
			
		</div>
	</div>
</div>




{% endblock %}


{% block scripts %}

{% endblock %}