{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/page-headers/whos-who-bg.jpg')}}')"
		alt="Group of cyclists">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Who's who</h1>
					<span class="subheading">It's like the FBI's most wanted, only worse..</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
		
			<h2>Search by first letter of user name</h2>
			
			{% for letter in username_letters %}
				<a href="#{{ letter }}"><strong>{{ letter.upper() }}</strong></a>,
			{% endfor %}
			
			{% if not current_user.is_authenticated %}
			
				<p style="color: red">
					<strong>Log in to see active social links.</strong>
				</p>
			
			{% endif %}
			
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                         User List                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	
	{% set firstletter = "" %}
	
	{% for user in users %}
		{% if user.id != 50 %}
	
		<!-- Create Anchors for next letter in alphabet -->
		{% if firstletter != user.name[0] %}
			{% set firstletter = user.name[0] %}
	        <a name="{{ user.name[0].upper() }}" ></a>
		{% endif %}
		
		<!-- User details -->
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">

				<!-- Name, Group and Bio -->
				<div class="float-left">
					
					<img src="{{ user.email | gravatar }}"
				         width="60" height="60"
				         style="border-radius: 50%;"
					     alt="Gravatar icon"/>
					&nbsp
					{{user.name}}
				
					{% if user.admin() %}
						&nbsp; <i class="fa-solid fa-asterisk fa-beat"></i>
						<strong>ADMIN</strong>
						<i class="fa-solid fa-asterisk fa-beat"></i>
					{% endif %}
	
					{% if user.social_url("group") %}
						<!-- Suppress n/a which I forgot to do before it gets added to db -->
						{% if user.social_url("group").lower() != "n/a" %}
						    &nbsp; (<strong>{{ user.social_url("group") }}</strong>)
						{% endif %}
					{% endif %}
					
				</div>
				
				<!-- Socials -->
				<div class="mt-2 float-right">
				
					{% if current_user.is_authenticated %}
						
						<!-- Real links -->
						{% if user.social_url("strava") %}
							 &nbsp; <a href="{{ user.social_url('strava') }}"><i class="fa-brands fa-strava fa-lg"></i></a>
						{% endif %}
						
						{% if user.social_url("instagram") %}
							 &nbsp; <a href="{{ user.social_url('instagram') }}"><i class="fa-brands fa-instagram fa-lg"></i></a>
						{% endif %}
						
						{% if user.social_url("twitter") %}
							 &nbsp; <a href="{{ user.social_url('twitter') }}"><i class="fa-brands fa-twitter fa-lg"></i></a>
						{% endif %}
						
						{% if user.social_url("facebook") %}
							 &nbsp; <a href="{{ user.social_url('facebook') }}"><i class="fa-brands fa-facebook fa-lg"></i></a>
						{% endif %}
					
					{% else %}
						<!-- Just icons -->
					    <i class="fa-brands fa-strava fa-lg" style="color: #ccd1d1"></i>
						<i class="fa-brands fa-instagram fa-lg" style="color: #ccd1d1"></i>
						<i class="fa-brands fa-twitter fa-lg" style="color: #ccd1d1"></i>
						<i class="fa-brands fa-facebook fa-lg" style="color: #ccd1d1"></i>
					{% endif %}
					
				</div>
				
			</div>
		</div>
		
		{% if user.bio %}
			<div class="row mt-2">
				<div class="col-lg-8 col-md-10 mx-auto">
					<i class="fa-solid fa-quote-left"></i><i>{{ user.bio }}</i><i class="fa-solid fa-quote-right"></i>
				</div>
			</div>
		{% endif %}
	
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<hr>
			</div>
		</div>
	
		{% endif %}
	{% endfor %}
	
</div>



{% endblock %}