{% extends "base.html" %}

<!-- Add import for bootstrap wtf quickform support -->
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/login-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Reset your password</h1>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Main Content                                             -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<!-- This is where the form will go -->
			{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary", "forgot": "secondary"}) }}
			
		</div>
	</div>
</div>


{% endblock %}