{% extends "base.html" %}

<!-- Add import for bootstrap wtf quickform support -->
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/register-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Register</h1>
					<h2>Sign your life away and become one of us....</h2>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Main Content                                             -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-5">Terms and Conditions</h2>
			
			<h3>Cookies</h3>
			<p>This website uses cookies to manage user registration and session authentication. You are
			   free to browse the website cookie free, but if you want to download files, add content etc,
			   you will need to register and that means cookies. I have tried to keep their use to an
			   absolute minimum. There is no cross site tracking, just a couple of cookies from Flask
			   (the web framework this site uses) which is used to keep track of whether you are logged in
			   or not. It also looks like fontawesome.com saves a cookie as well. They provide the fancy icons
			   e.g. the man on a bike in the header banner. I've also installed Google Analytics, out of curiosity,
			   so you might see a cookie from Google.
			</p>
			<hr>
			
			<h3 class="mt-2">Personal data</h3>
			<p>Obviously if you post content, that will be logged in the database. We also log when you last logged in,
			   so we can see who our active users are. Your source IP address is logged as well, just in case we get
			   abuse, in which case we can block IP addresses. If you ever see a 404 or 403 page, where the website
			   has been unable to display the page you're looking for, this will appear in diagnostic logs, along with
			   your id, just so I can try and figure out what went wrong (you should never see a 404 or 403 page).</p>
			<hr>
			
			<h3 class="mt-2">GPX files</h3>
			<p>This site encourages you to upload GPX files, so others can benefit from your amazing route design
			   abilities. You might not realise this, but if you upload a GPX file from your bike computer it will
			   contain all sorts of personal data, like timestamps from your ride, Heart Rate, Cadence or Power meter
			   data from your devices. None of this 'extra' data is necessary for someone else to be able to follow
			   your route, so when you upload a file we '<a href="https://www.youtube.com/watch?v=K0LLaybEuzA">
				<i class="fa fa-external-link"></i> purge</a>'
			   the GPX file, so only the latitude and longitude data is left.</p>
			<p>The site also allows you to edit your GPX file, to remove the start and finish which may let people
			   know where you live. You see, we really have thought of everything...</p>
			<hr>
			
			<h3 class="mt-2">Email addresses</h3>
			<p>The site uses email addresses as a unique id for each user. Your email address is stored in a
			   database, but no other user (nor admin) can see it. It should never appear on any webpage. It
			   will however, appear in diagnostic logs used to figure out why something is broken. As this
			   website allows users to add and modify content, we need some way to manage this and being able
			   to identify real people (or at least real email addresses) should, hopefully, minimise abuse e.g
			   if someone was to post something illegal, I can at least take the email and source IP address to
			   the Police.</p>
			<hr>
			
			<h3 class="mt-2">Will you send me emails?</h3>
			<p>In order to verify your email address we will send an email to your email address with a unique code.
			   You will need this code to complete registration. If you forget your password and would like to reset
			   it, likewise a unique code will be sent to your email address. If you post something inappropriate you
			   will receive an email from {{admin_email_address}} chastising you for your errant behaviour and suggesting
			   an appropriate penance. There is no newsletter currently and if we were to create one, it would be
			   opt in only (as I hate receiving spam from websites). If something goes horribly wrong with the databse
			   and I screw up all the hashed passwords, we might send out emails to help recover the situation.</p>
			<hr>
			
			<h3 class="mt-2">Passwords</h3>
			<p>Passwords are repeatedly <a href="https://en.wikipedia.org/wiki/Salt_(cryptography)"><i class="fa fa-external-link"></i> salted</a> and
			   hashed using the <a href="https://en.wikipedia.org/wiki/Bcrypt"><i class="fa fa-external-link"></i> bcrypt</a> algorithm before being
			   stored in the database. No one can see your original password, it is not stored anywhere and
			   is only held in memory for the shortest possible time before being hashed.</p>
			<hr>
			
			<h3 class="mt-2">Appropriate content</h3>
			<p>You must not post anything (too) offensive and definitely not anything illegal on the website.
			   Try and be nice. Taking the piss out of people you know in real life is totally acceptable, but bullying
			   is not. There is a fine line there somewhere and occasionally someone might cross it. As long as no one
			   dies, it's probably ok. Taking the piss out of uncut steerer tubes should be mandatory.</p>
			<hr>
			
			<h3 class="mt-2">Age restrictions</h3>
			<p>You must be aged 13 or over to use this website in the UK. The age requirements are there because of
			   data protection laws. Online services are not allowed to collect or store children's personal
			   information if they are under the age of 13. Data protection laws also say that only children aged
			   13 and over can sign up to online services without parental permission.</p>
			<p>You must be 18 or over to join any of the ELSR rides unless you are accompanied by a parent or guardian
			   who then rides with you the whole way round the ride. ELSR is collective rather than a club and does not
			   have the appropriate infrastructure in place to meet
				<a href="https://www.solentpirates.org/uploads/1/3/2/5/13258933/1._safeguarding_and_protecting_children_-_2017.pdf">
					<i class="fa fa-external-link"></i> British Cycling safeguarding requirements for juniors.</a> </p>
			<hr>
			
			<h3 class="mb-5" id="decision">Decision time...</h3>
			
			<div class="clearfix">
				<!-- Button to expose hidden options -->
				<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseRegister" role="button"
				   aria-expanded="false" aria-controls="collapseExample">
	                   I consent to the T&Cs
	            </a>
				
				<a class="btn btn-warning float-right my-2" role="button" href="{{ url_for('uncut') }}"
				   aria-expanded="false" aria-controls="collapseExample">
	                   I like uncut steerer tubes
	            </a>
			</div>
			
			<!-- Hidden registration form -->
			<div class="collapse" id="collapseRegister">
				<div class="card card-body my-3">
	                <div class="clearfix">
		    
		                <h3>Register on www.elsr.co.uk</h3>
		                <p>NB Registration is a two step process, you need to verify your email address with a code
		                   which will be emailed to you by <b>{{ admin_email_address }}</b>.
		                <p>NB Verification codes will expire after 24 hours.</p>
						
		                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

					</div>
				</div>
			</div>
			
			<!-- Tag for jumping right to the open form -->
			<a name="registration_form" ></a>
			<hr>
			
		</div>
	</div>
</div>



<!---------------------------------------------------------------------------------------------------->
<!--                                 Open page at Events anchor                                     -->
<!---------------------------------------------------------------------------------------------------->

<script>

	{% if anchor %}
		
		/* Open collapsed section */
		$("#collapseRegister").collapse('show');
        
        /* Jump to anchor */
        window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#{{anchor}}"
	    
	{% endif %}
	
</script>


{% endblock %}