{% extends "base.html" %}

{% block title %}
    <title>ELSR - Register</title>
{% endblock %}

<!-- Add import for bootstrap wtf quickform support -->
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/register-bg.jpg')}})"
		alt="Cyclist signing on">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Register</h1>
					<h2>Sign your life away and become one of us....</h2>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Warn if already logged in                                  -->
<!---------------------------------------------------------------------------------------------------->

{% if current_user.is_authenticated %}

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				
				<h2 style="color: red">You are already logged in as: &nbsp;
					<img src="{{ current_user.email | gravatar }}"
					     width="60" height="60"
					     style="border-radius: 50%;"
						 alt="Gravatar icon"/>
				    {{ get_user_name(current_user.email) }}
				</h2>
				
				<hr>
				
			</div>
		</div>
	</div>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Terms and Conditions                                       -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h2 class="mb-5">Terms and Conditions</h2>
			
			<h3>Cookies</h3>
			<p>
				This website uses cookies to manage user registration and session authentication. You are
			    free to browse the website cookie free, but if you want to download files, add content etc,
			    you will need to register and that means cookies. We have tried to keep their use to an
			    absolute minimum. There is no cross site tracking, just a couple of cookies from Flask
			    (the web framework this site uses) which is used to keep track of whether you are logged in
			    or not. It also looks like fontawesome.com saves a cookie as well. They provide the fancy icons
			    e.g. the man on a bike in the header banner. We've also installed Google Analytics, to track usage,
			    so you might see a cookie from Google.
			</p>
			<hr>
			
			<h3 class="mt-2">Personal data</h3>
			<p>
				By creating an account on this site, you will be giving us some personal data e.g. email address and
			    phone number (optional for 2FA). This data will be stored in a database in order to manage your account on
			    this website. We also log when you last logged in,
			    so we can see who our active users are. Your source IP address is logged as well, just in case we get
			    abuse, in which case we can block IP addresses. Our GDPR Policy can be found here:
	            <a href="{{ url_for('gdpr') }}"><strong>ELSR GDPR</strong>.</a>
			</p>
			
			<hr>
			
			<h3 class="mt-2">GPX files</h3>
			<p>
				This site encourages you to upload GPX files, so others can benefit from your amazing route design
			    abilities. You might not realise this, but if you upload a GPX file from your bike computer it will
			    contain all sorts of personal data, like timestamps from your ride, Heart Rate, Cadence or Power meter
			    data from your devices. None of this 'extra' data is necessary for someone else to be able to follow
			    your route, so when you upload a file we '<a href="https://www.youtube.com/watch?v=K0LLaybEuzA">
				<i class="fa fa-external-link"></i> purge</a>'
			    the GPX file, so only the latitude and longitude data is left.
			</p>
			<p>
				The site also allows you to edit your GPX file, to remove the start and finish which may let people
			    know where you live. You see, we really have thought of everything...
			</p>
			<hr>
			
			<h3 class="mt-2">Will you send me emails?</h3>
			<p>
				In order to verify your email address we will send an email to your email address with a unique code.
			    You will need this code to complete registration. If you forget your password and would like to reset
			    it, likewise a unique code will be sent to your email address. If you post something inappropriate you
			    will receive an email from <strong>{{ admin_email_address }}</strong> chastising you for your errant behaviour and suggesting
			    an appropriate penance. There is no newsletter currently and if we were to create one, it would be
			    opt in only (as we hate receiving spam from websites).
			</p>
			<hr>
			
			<h3 class="mt-2">Passwords</h3>
			<p>
				Passwords are repeatedly <a href="https://en.wikipedia.org/wiki/Salt_(cryptography)"><i class="fa fa-external-link"></i> salted</a> and
			    hashed using the <a href="https://en.wikipedia.org/wiki/Bcrypt"><i class="fa fa-external-link"></i> bcrypt</a> algorithm before being
			    stored in the database. No one can see your original password, it is not stored anywhere and
			    is only held in memory for the shortest possible time before being hashed.
			</p>
			<hr>
			
			<h3 class="mt-2">Appropriate content</h3>
			<p>
				You must not post anything (too) offensive and definitely not anything illegal on the website.
			    Try and be nice. Taking the piss out of people you know in real life is totally acceptable, but bullying
			    is not. There is a fine line there somewhere and occasionally someone might cross it. As long as no one
			    dies, it's probably ok. Taking the piss out of uncut steerer tubes should be mandatory.
			</p>
			<hr>
			
			<h3 class="mt-2">Age restrictions</h3>
			<p>
				You must be aged 13 or over to use this website in the UK. The age requirements are there because of
			    data protection laws. Online services are not allowed to collect or store children's personal
			    information if they are under the age of 13. Data protection laws also say that only children aged
			    13 and over can sign up to online services without parental permission.
			</p>
			<p>
				You must be 18 or over to join any of the ELSR rides unless you are accompanied by a parent or guardian
			    who then rides with you the whole way round the ride. ELSR is collective rather than a club and does not
			    have the appropriate infrastructure in place to meet
				<a href="https://www.solentpirates.org/uploads/1/3/2/5/13258933/1._safeguarding_and_protecting_children_-_2017.pdf">
					<i class="fa fa-external-link"></i> British Cycling safeguarding requirements for juniors.
				</a>
			</p>
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                      Registration Form                                         -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			<h3 class="mb-5">Decision time...</h3>
			
			<div class="clearfix">
				<!-- Button to expose hidden options -->
				<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseRegister" role="button"
				   aria-expanded="false" aria-controls="collapseExample" id="showForm">
	                   I consent to the T&Cs
	            </a>
				
				<a class="btn btn-warning float-right my-2" role="button" href="{{ url_for('uncut') }}"
				   aria-expanded="false" aria-controls="collapseExample">
	                   I like uncut steerer tubes
	            </a>
			</div>
			
			<!-- Hidden registration form -->
			<div class="collapse" id="collapseRegister">
				<div class="card card-body my-3">
	                <div class="clearfix">
		    
		               
						{% if current_user.is_authenticated %}
	
					
							<h2 style="color: red">You are already logged in as: &nbsp;
								<img src="{{ current_user.email | gravatar }}"
								     width="60" height="60"
								     style="border-radius: 50%;"
									 alt="Gravatar icon"/>
							    {{ get_user_name(current_user.email) }}
							</h2>
					
						{% else %}
		                
			                <h3>Register on www.elsr.co.uk</h3>
			                <p>NB Registration is a two step process, you need to verify your email address with a code
			                   which will be emailed to you by <b>{{ admin_email_address }}</b>.
			                <p>NB Verification codes will expire after <strong>24 hours</strong>.</p>
							
			                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
		                
						{% endif %}
		    
					</div>
				</div>
			</div>
			
			<hr>
			
			<!-- Tag for jumping right to the open form -->
			<a name="registration_form" ></a>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Jump down to show reg form                                     -->
<!---------------------------------------------------------------------------------------------------->

<script>
    
    $("#collapseRegister").on("show.bs.collapse", function(){
        /* Jump to anchor */
        window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#registration_form"
        /* Change button name */
        document.getElementById('showForm').innerHTML = '<i class="fa-solid fa-arrows-down-to-line fa-xl"></i> Form below <i class="fa-solid fa-arrows-down-to-line fa-xl"></i>';
    });
    
    $("#collapseRegister").on("hide.bs.collapse", function(){
        document.getElementById('showForm').innerHTML = 'I consent to the T&Cs';
    });
    
</script>


{% endblock %}