{% extends "base.html" %}


{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/whos-who-bg.jpg')}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Who's who</h1>
					<span class="subheading">It's like the FBI's most wanted, only worse..</span>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Main Content                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
		
			<h2>Search by first letter of user name</h2>
			
			{% for letter in username_letters %}
				<a href="#{{ letter }}"><strong>{{ letter.upper() }}</strong></a>,
			{% endfor %}
			
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                         User List                                              -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	
	{% set firstletter = "" %}
	
	{% for user in users %}
	
		<!-- Create Anchors for next letter in alphabet -->
		{% if firstletter != user.name[0] %}
			{% set firstletter = user.name[0] %}
	        <a name="{{ user.name[0].upper() }}" ></a>
		{% endif %}
		
		<!-- User details -->
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">

				<!-- Name, Group and Bio -->
				<div class="float-left">
					
					<a href="https://gravatar.com/">
						<img src="{{ user.email | gravatar }}"
					         width="60" height="60"
					         style="border-radius: 50%;"/>
					</a> &nbsp
					{{user.name}}
				
					{% if user.admin() %}
						&nbsp; <i class="fa-solid fa-asterisk fa-beat"></i>
						<strong>ADMIN</strong>
						<i class="fa-solid fa-asterisk fa-beat"></i>
					{% endif %}
	
					{% if user.social_url("group") %}
						 &nbsp; (<strong>{{ user.social_url("group") }}</strong>)
					{% endif %}
					
				</div>
				
				<!-- Socials -->
				<div class="mt-2 float-right">
				
					{% if user.social_url("strava") %}
						 &nbsp; <i class="fa-brands fa-strava fa-lg"></i>
					{% endif %}
					
					{% if user.social_url("instagram") %}
						 &nbsp; <i class="fa-brands fa-instagram fa-lg"></i>
					{% endif %}
					
					{% if user.social_url("twitter") %}
						 &nbsp; <i class="fa-brands fa-twitter fa-lg"></i>
					{% endif %}
					
					{% if user.social_url("facebook") %}
						 &nbsp; <i class="fa-brands fa-facebook fa-lg"></i>
					{% endif %}

				</div>
				
			</div>
		</div>
		
		{% if user.bio %}
			<div class="row mt-2">
				<div class="col-lg-8 col-md-10 mx-auto">
					<i class="fa-solid fa-quote-left"></i><i>{{ user.bio }}</i><i class="fa-solid fa-quote-right"></i>
				</div>
			</div>
		{% endif %}
	
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<hr>
			</div>
		</div>
	
	{% endfor %}
	
</div>



{% endblock %}