{% extends "base.html" %}

<!-- Add import for bootstrap wtf quickform support -->
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Page Header                                              -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead"
        style="background-image: url({{ url_for('static', filename='img/page-headers/login-bg.jpg')}})"
		alt="Chains and padlocks">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Login</h1>
					<h3>ELSR contains highly classified information....</h3>
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--                                       Main Content                                             -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			
			{% if current_user.is_authenticated %}
			
				<h2>You are already logged in as: &nbsp;
					<img src="{{ current_user.email | gravatar }}"
					     width="60" height="60"
					     style="border-radius: 50%;"
						 alt="Gravatar icon"/>
				    {{ get_user_name(current_user.email) }}
				</h2>
			
			{% else %}
			
				<!-- This is where the form will go -->
				{{ wtf.quick_form(form, novalidate=True, button_map={
									"submit": "primary my-2 float-left",
									"forgot": "secondary m-2 float-right",
				                    "verify": "secondary my-2 float-right"}) }}
			
			{% endif %}
			
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			{% if not current_user.is_authenticated %}
			
				<p>NB: If you haven't registered yet, you need to register:
					<a href="{{ url_for('register') }}"><strong>Registration</strong>
					</a> first.
				</p>
			
			{% endif %}
			
			<hr>
			
		</div>
	</div>
</div>


{% endblock %}