{% extends "base.html" %}


{% block content %}


<head>
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                Load JavaScript for chart.js                                    -->
	<!---------------------------------------------------------------------------------------------------->
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	
</head>



<!---------------------------------------------------------------------------------------------------->
<!--                                     Page Header                                                -->
<!---------------------------------------------------------------------------------------------------->

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/calendar-bg.jpg')}})">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>Ride Schedule</h1>
					<span class="subheading">Something for the weekend Sir?</span>
					<h2><i class="fa-solid fa-person-digging"></i> Work in Progress... <i class="fa-solid fa-person-digging"></i></h2>
					
				</div>
			</div>
		</div>
	</div>
</header>


<!---------------------------------------------------------------------------------------------------->
<!--                                 Show flash messages                                            -->
<!---------------------------------------------------------------------------------------------------->

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-warning text-center">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}


<!---------------------------------------------------------------------------------------------------->
<!--             JavaScript for Google Map showing multiple GPX plus one of more Cafes              -->
<!---------------------------------------------------------------------------------------------------->

<script>

	(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
	    key: "{{ GOOGLE_MAPS_API_KEY }}",
	    v: "weekly",
	    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
	    // Add other bootstrap parameters as needed, using camel case.
    });


	let saturday_map;
	
	async function initSaturdayMap() {
        
        /* Request needed libraries */
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
        
        /* Define the map view */
        const saturday_map = new Map(document.getElementById("saturday_map"), {
            restriction: {
                latLngBounds: {{ MAP_BOUNDS | tojson }},
                strictBounds: false,
            },
            zoom: 9,
            center: {{ ELSR_HOME | tojson }},
            mapId: "7499929d658a3166",
        });
        
        /* Loop over Polylines */
        {% for polyline in saturday_polylines['polylines'] %}
        
	        /* Define our polyline */
	        const flightPath{{ loop.index }} = new google.maps.Polyline({
	            path: {{ polyline['polyline'] }},
	            geodesic: true,
	            strokeColor: "{{ polyline['color'] }}",
	            strokeOpacity: 1.0,
	            strokeWeight: 4,
	        });
	
			/* We want a pop up info box for thr GPX route */
			google.maps.event.addListener(flightPath{{ loop.index }}, 'mouseover', function(event) {
	            current_lat = event.latLng.lat();
	            current_lon = event.latLng.lng();
	            
	            // Create a new InfoWindow.
	            gpxInfoWindow{{loop.index}} = new google.maps.InfoWindow({
	                content: '{{ polyline['name'] | safe }}',
	                position: event.latLng,
	            });
	            
	            gpxInfoWindow{{loop.index}}.open(saturday_map);
			});
	
			/* and close the info box when they move elsewhere */
			google.maps.event.addListener(flightPath{{loop.index}}, 'mouseout', function() {
	            gpxInfoWindow{{loop.index}}.close();
			});
	
			/* Add the path to the map */
	        flightPath{{loop.index}}.setMap(saturday_map);
     	
     	{% endfor %}
     	
     	
     	/* This is our set of cafes */
		const cafes = {{ saturday_cafes | tojson }}
	    
	    // Create an info window to share between markers.
	    const infoWindow = new InfoWindow();
					
        // Create the markers.
        cafes.forEach( ({ position, title, color }, i) => {
            const pin = new PinElement({
            glyph: `${i + 1}`,
            });
            
            const marker = new AdvancedMarkerElement({
                position,
                map: saturday_map,
                title: `${title}`,
                content: new PinElement({
                                background: color,
                                borderColor: "black",
                                glyphColor: "black",
							}).element
            });
            
            // Add a click listener for each marker, and set up the info window.
            marker.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(marker.map, marker);
            });
        });
     	
     
	}

	initSaturdayMap();
	
	let sunday_map;
	
	async function initSundayMap() {
        
        /* Request needed libraries */
        const { Map, InfoWindow } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker",);
        
        /* Define the map view */
        const sunday_map = new Map(document.getElementById("sunday_map"), {
            restriction: {
                latLngBounds: {{ MAP_BOUNDS | tojson }},
                strictBounds: false,
            },
            zoom: 9,
            center: {{ ELSR_HOME | tojson }},
            mapId: "7499929d658a3166",
        });
        
        /* Loop over Polylines */
        {% for polyline in sunday_polylines['polylines'] %}
        
	        /* Define our polyline */
	        const flightPath{{ loop.index }} = new google.maps.Polyline({
	            path: {{ polyline['polyline'] }},
	            geodesic: true,
	            strokeColor: "{{ polyline['color'] }}",
	            strokeOpacity: 1.0,
	            strokeWeight: 4,
	        });
	
			/* We want a pop up info box for thr GPX route */
			google.maps.event.addListener(flightPath{{ loop.index }}, 'mouseover', function(event) {
	            current_lat = event.latLng.lat();
	            current_lon = event.latLng.lng();
	            
	            // Create a new InfoWindow.
	            gpxInfoWindow{{loop.index}} = new google.maps.InfoWindow({
	                content: '{{ polyline['name'] | safe }}',
	                position: event.latLng,
	            });
	            
	            gpxInfoWindow{{loop.index}}.open(sunday_map);
			});
	
			/* and close the info box when they move elsewhere */
			google.maps.event.addListener(flightPath{{loop.index}}, 'mouseout', function() {
	            gpxInfoWindow{{loop.index}}.close();
			});
	
			/* Add the path to the map */
	        flightPath{{loop.index}}.setMap(sunday_map);
     	
     	{% endfor %}
     	
     	
     	/* This is our set of cafes */
		const cafes = {{ sunday_cafes | tojson }}
	    
	    // Create an info window to share between markers.
	    const infoWindow = new InfoWindow();
					
        // Create the markers.
        cafes.forEach( ({ position, title, color }, i) => {
            const pin = new PinElement({
            glyph: `${i + 1}`,
            });
            
            const marker = new AdvancedMarkerElement({
                position,
                map: sunday_map,
                title: `${title}`,
                content: new PinElement({
                                background: color,
                                borderColor: "black",
                                glyphColor: "black",
							}).element
            });
            
            // Add a click listener for each marker, and set up the info window.
            marker.addListener("click", ({ domEvent, latLng }) => {
                const { target } = domEvent;
                infoWindow.close();
                infoWindow.setContent(marker.title);
                infoWindow.open(marker.map, marker);
            });
        });
     	
     
	}

	initSundayMap();

</script>



<!---------------------------------------------------------------------------------------------------->
<!--                                   Saturday ride List                                           -->
<!---------------------------------------------------------------------------------------------------->

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			<h2 class="mb-3">Group rides for {{ saturday }}</h2>
			
			{% if not saturday_rides %}
			
				<h3>Sorry, we don't have any rides scheduled yet...</h3>
			
			{% else %}
			
				<ul>
			
					{% for ride in saturday_rides %}
					
						<li class="my-4">
						
							<!-- Animated wheel -->
							{% if ride.group == "Decaff" %}
								<i class="fa-solid fa-cog fa-spin fa-xl"
						           style="--fa-animation-duration: 10s;">
						        </i> &nbsp;
							{% elif ride.group == "Mixed" %}
								<i class="fa-solid fa-cog fa-spin fa-xl"
						           style="--fa-animation-duration: 7s;">
								</i>  &nbsp;
							{% elif ride.group == "Espresso" %}
								<i class="fa-solid fa-cog fa-spin fa-xl"
						           style="--fa-animation-duration: 5s;">
								</i>  &nbsp;
							{% elif ride.group == "Doppio" %}
								<i class="fa-solid fa-cog fa-spin fa-xl"
						           style="">
								</i>  &nbsp;
							{% endif %}
						
							 <!-- Download button -->
				            {% if current_user.is_authenticated: %}
								{% if ride.public %}
					                <a href="{{ url_for('route_download', gpx_id=ride.gpx_id) }}">
				                        <button class="btn btn-sm btn-primary">
				                            <i class="fa-solid fa-file-arrow-down"></i> GPX</button>
						            </a>
								{% else %}
									<button class="btn btn-sm disabled btn-dark">
										<i class="fa-solid fa-file-arrow-down"></i> GPX</button>
								{% endif %}
							{% endif %}
							
							<!-- Admins and author can edit / delete the rides -->
							{% if current_user.is_authenticated: %}
								{% if current_user.admin() or current_user.email == ride.email %}
									
									<!-- Edit route -->
									 <a href="{{ url_for('route_download', gpx_id=ride.gpx_id) }}">
				                        <button class="btn btn-sm btn-secondary">Edit</button>
						            </a>
							
									<!-- Delete route -->
									<a data-toggle="modal" data-target="#deleteRoute{{ ride.id }}">
				                        <button class="btn btn-sm btn-danger">DEL</button>
						            </a>
							
								{% endif %}
							{% endif %}
							
							<!-- Ride description -->
					        {{ ride.group }}: {{ ride.leader }}, <strong>{{ ride.destination }}</strong>,
							     {{ ride.distance }}km, {{ ride.elevation }}m
							
							
						</li>
					
						<!--------------------------------------------------------------------------------------------->
						<!--                         Modal form for deleting ride                                    -->
						<!--------------------------------------------------------------------------------------------->
						
						<div class="modal fade" id="deleteRoute{{ ride.id }}" tabindex="-1" role="dialog">
						  	<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="blockModalLabel">
											Delete ride '{{ ride.group }}: {{ ride.leader }}, {{ ride.destination }}'
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<form action="{{ url_for('delete_ride', ride_id=ride.id, date=saturday_date) }}" method="post">
											<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
											
											<div class="form-group">
												<label class="col-form-label">
													Enter <strong>your password</strong> below.
												</label>
												<input type="password" class="form-control" name="password">
											</div>
											
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-danger">Submit</button>
											</div>
											
										</form>
									</div>
								</div>
							</div>
						</div>  <!-- End of modal form -->

					
					
					
					{% endfor %}
					
				</ul>
	
				{% if not current_user.is_authenticated: %}
					<p style="color: red"><strong>Log in to download GPX files.</strong></p>
				{% endif %}
			
			{% endif %}
	
			<!-- Logged in users can add / edit rides etc -->
			{% if current_user.is_authenticated: %}
				<!-- Add ride button -->
				<a href="{{ url_for('add_ride', date=saturday_date) }}">
					<button type="button" class="btn btn-primary float-right">Add ride</button>
				</a>
			{% endif %}
	
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
			<!-- Break before next section -->
			<hr>
			
		</div>
	</div>
</div>


<!---------------------------------------------------------------------------------------------------->
<!--                                       Saturday Weather                                         -->
<!---------------------------------------------------------------------------------------------------->

{% if saturday_weather %}

	<div class="container">
		<div class="row mt-2">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			
				<h2>Weather forecast for {{ saturday }}</h2>
				<ul>
					{% for item in saturday_weather %}
					
						<li>{{ item }}</li>
					
					{% endfor %}
				</ul>
				
				<p class="copyright text-muted">
					<a href="http://www.bbc.co.uk/weather">Copyright &copy; BBC Weather {{year}}
					</a>
				</p>
				
				<!-- Break before footer -->
				<hr>
				
			</div>
		</div>
	</div>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                      Saturday routes map                                       -->
<!---------------------------------------------------------------------------------------------------->

{% if saturday_rides %}

	<div class="container">
		<div class="row mt-2">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
				<h2>Map of rides for {{ saturday }}</h2>
				
	
				<!---------------------------------------------------------------------------------------------------->
				<!--                                      Insert Google Map                                         -->
				<!---------------------------------------------------------------------------------------------------->
				
				<div id="saturday_map" style="height: 500px"></div>
				
				<!-- Break before footer -->
				<hr>
				
			</div>
		</div>
	</div>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                  Saturday Elevation Graphs                                     -->
<!---------------------------------------------------------------------------------------------------->

{% if saturday_rides %}

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				
				<h2 class="my-3">Elevations for {{ saturday }}</h2>
				
				<div style="height: 300px; width: 100%;">
					<canvas id="saturdayElevation"></canvas>
				</div>
				<script>
				
					var custom_icon = new Image();
	                custom_icon.src = 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png';
			 
			        const saturdayData = {
			            datasets: [
				           
				           /* These are our cafes */
				           {% for cafe in saturday_elevation_cafes %}
		                       {
			                        label: '{{ cafe['name']  | tojson }}',
			                        pointStyle: [custom_icon],
			                        data: {{ [cafe['coord']] | tojson }},
			                    },
		                   {% endfor %}
		                   
							/* These are our routes */
							{% for gpx in saturday_elevation_data %}
							
								{
			                        label: 'Dist (km), Elevation (m)',
			                        pointStyle: 'false',
			                        radius: 0,
			                        tension: 3,
			                        showLine: true,
			                        data: {{ gpx['elevation'] | tojson }},
			                        backgroundColor: '{{ gpx['colour'] }}',
			                        borderColor: '{{ gpx['colour'] }}'
			                    },
			                
			                {% endfor %}
	                    ],
					};
				
		            
		            const saturdayConfig = {
						  type: 'scatter',
						  data: saturdayData,
						  options: {
						        maintainAspectRatio: false,
						        scales: {
						            x: {
						                type: 'linear',
						                position: 'bottom'
						            },
						        },
						        plugins: {
			                       legend: {
		                                display: false
	                               }
						        }
						  }
					};
						     
			        
			        const saturdayChart = new Chart(
			            document.getElementById('saturdayElevation'),
			            saturdayConfig
			        );
		         
		        </script>
				
				<!-- Separator before next section -->
				<hr>
				
			</div>
		</div>
	</div>

{% endif %}


<!---------------------------------------------------------------------------------------------------->
<!--                                     Sunday ride List                                           -->
<!---------------------------------------------------------------------------------------------------->

{% if sunday_date %}
	
	<div class="container">
		<div class="row mt-3">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
				<h2>Group rides for {{ sunday }}</h2>
				
				
				{% if not sunday_rides %}
				
					<h3>Sorry, we don't have any rides scheduled yet...</h3>
				
				{% else %}
				
					<ul>
				
						{% for ride in sunday_rides %}
						
							<li class="my-2">
							
								<!-- Spinning wheel -->
								{% if ride.group == "Decaff" %}
									<i class="fa-solid fa-cog fa-spin fa-xl"
							           style="--fa-animation-duration: 10s;">
							        </i>  &nbsp;
								{% elif ride.group == "Mixed" %}
									<i class="fa-solid fa-cog fa-spin fa-xl"
							           style="--fa-animation-duration: 7s;">
									</i>  &nbsp;
								{% elif ride.group == "Espresso" %}
									<i class="fa-solid fa-cog fa-spin fa-xl"
							           style="--fa-animation-duration: 5s;">
									</i>  &nbsp;
								{% elif ride.group == "Doppio" %}
									<i class="fa-solid fa-cog fa-spin fa-xl"
							           style="">
									</i>  &nbsp;
								{% endif %}
							
								 <!-- Download button -->
					            {% if current_user.is_authenticated: %}
									{% if ride.public %}
						                <a href="{{ url_for('route_download', gpx_id=ride.gpx_id) }}">
					                        <button class="btn btn-sm btn-primary">
					                                 <i class="fa-solid fa-file-arrow-down"></i> GPX</button>
							            </a>
									{% else %}
										    <button class="btn btn-sm disabled btn-dark">
					                                 <i class="fa-solid fa-file-arrow-down"></i> GPX</button>
							       {% endif %}
					            {% endif %}
								
						        {{ ride.group }}: {{ ride.leader }}, <strong>{{ ride.destination }}</strong>,
								     {{ ride.distance }}km, {{ ride.elevation }}m
													
							</li>
						
						{% endfor %}
						
					</ul>
					
					
					{% if not current_user.is_authenticated: %}
						<p style="color: red"><strong>Log in to download GPX files.</strong></p>
					{% endif %}
				
				{% endif %}
				
		
				<!-- Logged in users can add / edit rides etc -->
				{% if current_user.is_authenticated: %}
					<!-- Add ride button -->
					<a href="{{ url_for('add_ride', date=sunday_date) }}">
						<button type="button" class="btn btn-primary float-right">Add ride</button>
					</a>
				{% endif %}
		
			</div>
		</div>
	</div>
	
	
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
				<!-- Break before next section -->
				<hr>
				
			</div>
		</div>
	</div>
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                       Sunday Weather                                           -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% if sunday_weather %}
	
		<div class="container">
			<div class="row mt-2">
				<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
				
					<h2>Weather forecast for {{ sunday }}</h2>
					
					<ul>
						{% for item in sunday_weather %}
						
							<li>{{ item }}</li>
						
						{% endfor %}
					</ul>
					
					<p class="copyright text-muted">
						<a href="http://www.bbc.co.uk/weather">Copyright &copy; BBC Weather {{year}}
						</a>
					</p>
					
					<!-- Break before footer -->
					<hr>
					
				</div>
			</div>
		</div>
	
	{% endif %}
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                      Sunday routes map                                       -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% if sunday_rides %}
	
		<div class="container">
			<div class="row mt-2">
				<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
					
					<h2>Map of rides for {{ sunday }}</h2>
					
		
					<!---------------------------------------------------------------------------------------------------->
					<!--                                      Insert Google Map                                         -->
					<!---------------------------------------------------------------------------------------------------->
					
					<div id="sunday_map" style="height: 500px"></div>
					
					<!-- Break before footer -->
					<hr>
					
				</div>
			</div>
		</div>
	
	{% endif %}
	
	
	<!---------------------------------------------------------------------------------------------------->
	<!--                                    Sunday Elevation Graphs                                     -->
	<!---------------------------------------------------------------------------------------------------->
	
	{% if sunday_rides %}
	
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					
					<h2 class="my-3">Elevations for {{ sunday }}</h2>
					
					<div style="height: 300px; width: 100%;">
						<canvas id="sundayElevation"></canvas>
					</div>
					<script>
					
						var custom_icon = new Image();
		                custom_icon.src = 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png';
				 
				        const sunday_data = {
				            datasets: [
					           
					           /* These are our cafes */
					           {% for cafe in sunday_elevation_cafes %}
					           
			                       {
				                        label: '{{ cafe['name']  | tojson }}',
				                        pointStyle: [custom_icon],
				                        data: {{ [cafe['coord']] | tojson }},
				                    },
			                   
			                   {% endfor %}
			                   
								/* These are our routes */
								{% for gpx in sunday_elevation_data %}
								
									{
				                        label: 'Dist (km), Elevation (m)',
				                        pointStyle: 'false',
				                        radius: 0,
				                        tension: 3,
				                        showLine: true,
				                        data: {{ gpx['elevation'] | tojson }},
				                        backgroundColor: '{{ gpx['colour'] }}',
				                        borderColor: '{{ gpx['colour'] }}'
				                    },
				                
				                {% endfor %}
		                    ],
						};
					
			            
			            const sundayConfig = {
							  type: 'scatter',
							  data: sunday_data,
							  options: {
							        maintainAspectRatio: false,
							        scales: {
							            x: {
							                type: 'linear',
							                position: 'bottom'
							            },
							        },
							        plugins: {
				                       legend: {
			                                display: false
		                               }
							        }
							  }
						};
							
				        
				        const sundayChart = new Chart(
				            document.getElementById('sundayElevation'),
				            sundayConfig
				        );
			         
			        </script>
					
					<!-- Separator before next section -->
					<hr>
					
				</div>
			</div>
		</div>
	
	{% endif %}

{% endif %}

{% endblock %}
